[2019-05-20 20:20] avnishn commented on #31
If we use python multiprocessing, or job lib, don't those both not allow for distributed sampling? Or utilization of both GPUs/cpu elements. I thought that's something we wanted, and why we were looking into using ray?

But I guess speed is the most important thing here. I'll write a ray sampler for the TensorFlow branch based on the previous observations, and see if there is any apparent speedup.

[2019-05-20 20:20] #649 closed

[2019-05-20 20:22] ryanjulian commented on #576
Hmm new experience in akro suggests this might still be necessary, but we should at least replace it with a pip package.

[2019-05-20 20:38] zequnyu opened #670 "Move the baseline calculation to the training loop"
The plan is to move baseline calculation from pre-processing to training step.

[2019-05-20 20:44] avnishn commented on #31
Can you elaborate? I'm unsure what I'm looking for in this design document. Thanks!

[2019-05-20 21:21] zequnyu opened #671 "Remove the use of kwargs in algorithms"
We now require explicitly defining all parameters (i.e., `kwargs` not allowed). If some are parameter of subclass, use `super().__init__(...)` to do construction.

[2019-05-20 21:22] zequnyu commented on #654
Still working on it.

[2019-05-20 22:32] ryanjulian commented on #31
it is an RFC for allowing python processes to have multiple real system threads without having to use multiprocessing

[2019-05-20 22:44] zequnyu opened #673 "ERWR positive_adv set to True?"
I'm trying to remove `kwargs` out of all the algorithms. In ERWR the default `positive_adv` is set to True. When it passing to VPG, then NPO, the `self.positive_adv` is never set, so [line 279](https://github.com/rlworkgroup/garage/blob/a5277f42912e654bc5f0cb541d4557ca3a2c0bb4/garage/tf/algos/npo.py#L279) in `npo.py` is never reached. Not sure if this is the intention. The test won't pass if `self

[2019-05-20 22:45] CatherineSue commented on #673
I think it is set in tf.algos.BatchPolopt [here](https://github.com/rlworkgroup/garage/blob/master/garage/tf/algos/batch_polopt.py#L52)?

[2019-05-20 23:15] zequnyu commented on #673
Thank you @CatherineSue .

[2019-05-20 23:15] #673 closed

[2019-05-21 18:38] zequnyu commented on #654
The problem is because temp dir is deleted [here](https://github.com/rlworkgroup/garage/blob/a5277f42912e654bc5f0cb541d4557ca3a2c0bb4/tests/garage/experiment/test_resume.py#L61) while the snapshotter (`_snapshot_dir`) isn't reset. This causes problem for all the following tests using ` save_itr_params()` for `_snapshot_dir` [here](https://github.com/rlworkgroup/garage/blob/a5277f42912e654bc5f0cb54

[2019-05-21 19:32] zequnyu commented on #654
I think we should add something to let the `snapshotter` reset itself in due time. Otherwise we are at risk when the life cycle of `snapshotter` becomes longer than the `LocalRunner`. What's the plan for the future usage of `snapshotter`? Use one `snapshotter` to handle several Runner? @naeioi

[2019-05-21 19:39] naeioi commented on #654
Interesting. https://github.com/rlworkgroup/garage/blob/a5277f42912e654bc5f0cb541d4557ca3a2c0bb4/tests/garage/experiment/test_resume.py#L61 deletes a folder, but it is generated by tempfile, not directly from shopshotter. Why it breaks thing?

[2019-05-21 19:59] gitanshu commented on #654
@zequnyu no idea what's going on, but the patch works

[2019-05-21 20:32] zequnyu commented on #654
We are currently instantiate the `shopshotter` inside its implementation [class](https://github.com/rlworkgroup/garage/blob/a5277f42912e654bc5f0cb541d4557ca3a2c0bb4/garage/experiment/snapshotter.py#L127). When doing tests, `from garage.experiment import snapshotter` in LocalRunner will only import once. This means we are using the same `snapshotter` in tests. That's why I ask whether we plan to us

[2019-05-22 00:07] #180 closed

[2019-05-22 03:13] naeioi commented on #654
Ah got your idea. Nice catch! Please make this a PR. @zequnyu

[2019-05-22 18:01] ryanjulian commented on #654
@zequnyu Good catch!

To solve this issue long-term, we should probably have the LocalRunner create a snapshotter instance it owns, rather than having the process-global snapshotter. It is process-global because of previous design decisions, but it doesn't have to be.

[2019-05-23 18:02] avnishn commented on #669
Hello all,

I took on the challenge of rewriting our sampler in order to reduce its technical debt using a parallel and distributed library called ray.

The benefits of doing this is that ray takes care of distributing jobs to any number of processing elements, and can potentially distribute the tasks to a cluster, should we decide that we want to do that.

https://github.com/rlworkgroup/garage/is

[2019-05-23 23:27] zequnyu opened #679 "Resolve duplicate batch statistics calculations"
Some of the common statistics (StdReturn, Entropy, etc.) in `process_samples()` are calculated using duplicate code between different versions of BatchPolopt, OffPolicyRLAlgorithm, etc. We may need some shared methods to avoid it.

[2019-05-24 02:36] naeioi commented on #654
I agree. This global process snapshotter is flaky. @gautams3 also experienced a similar bug, that there were two instances of snapshotter, of which one is initialized and the other is not.

Because we take snapshot only at LocalRunner, I think it will not be too much effort removing this global snapshotter.

[2019-05-24 16:19] zequnyu commented on #654
@ryanjulian Shall I file an issue and address the change?

[2019-05-24 16:40] ryanjulian commented on #654
yes please!

[2019-05-24 17:13] zequnyu opened #680 "Eliminate the use of process-global snapshotter"
We should have the `LocalRunner` create a `snapshotter` instance it owns.

[2019-05-24 22:04] ryanjulian opened #681 "Add isort to pre-commit"
https://github.com/timothycrosley/isort

[2019-05-24 22:39] ryanjulian opened #682 "Add a tf2 tree"
This is a big project, so it's mostly a placeholder issue. This will be much easier once the models conversion is done.

[2019-05-24 22:47] ryanjulian commented on #657
This is very vague so I think we should break the project down further. I will close this.

[2019-05-24 22:47] #657 closed

[2019-05-24 22:48] #654 closed

[2019-05-24 22:50] ryanjulian commented on #300
We are doing this as part of the models conversion

[2019-05-24 22:50] #300 closed

[2019-05-24 23:17] ryanjulian commented on #377
### contrib/bichengcao
**Description:** Example experiments using openai/gym.
**Comment:** Duplicates what's already in examples.
**Verdict:** Remove

### contrib/rllab_hyperopt
**Description:** Using hyperopt with rllab (garage) for hyperparameter searches.
**Comment:** This is highly-reliant on the old rllab-style EC2 interface, which is uniformly pretty bad. I think the better approach here wou

[2019-05-24 23:28] ryanjulian opened #685 "Merge or delete contrib.alexbeloi"
I can't find a citation for this method, so it's hard to know if it's implemented correctly. It's fairly basic and might be a useful baseline for on-policy algorithms, so it's worth having someone attempt to merge it.

If it proves too difficult, we should just remove it.

[2019-05-24 23:29] #377 closed

[2019-05-27 00:51] #394 closed

[2019-05-27 00:51] #390 closed

[2019-05-27 02:21] xht033 opened #690 "sim_policy not working"
Hi,
I just found that sim_policy.py cannot work.
data that read from "params.pkl" does not include the key of "policy"

[2019-05-27 02:58] ryanjulian commented on #690
@zequnyu @naeioi can you take a look?

[2019-05-27 05:46] naeioi commented on #690
@xht033 True. Thanks for reporting! This is because starting from https://github.com/rlworkgroup/garage/commit/3cd1718eece4f3c1cbae6f63cc409ee1e79720c1 we save `algo`  instead of `policy`. If you are eager for a quick fix, try replacing `data['policy']` by `data['algo'].policy`. Or wait for my PR expected to file tommorow.

[2019-05-27 17:27] #646 closed

[2019-05-27 17:27] #671 closed

[2019-05-27 22:56] #5 closed

[2019-05-27 22:59] #108 closed

[2019-05-28 00:13] ryanjulian commented on #128
http://proceedings.mlr.press/v70/chou17a/chou17a.pdf

[2019-05-28 01:08] #221 closed

[2019-05-28 19:34] ryanjulian opened #694 "Refactor Categorical primitives to use a distribution"
This would create Categorical* models in tf/models and use a tfp.distributions.Multinomial to model the distribution, rather than using action_space.weighted_sample().

[2019-05-28 23:53] #634 closed

[2019-05-28 23:53] #639 closed

[2019-05-28 23:58] ryanjulian commented on #647
this also needs to work on https://readthedocs.org, which could create some complications. let me know when you're ready and i'll add you as a collaborator to the project.

[2019-05-28 23:59] ryanjulian commented on #516
@naeioi is this done?

[2019-05-29 06:29] xht033 commented on #690
Thanks!

[2019-05-29 06:50] xht033 opened #697 "Cannot plot during training"
[code]
##########################################################
3) Why we removed viskit? I cannot find it in garage.

Thanks！ I really like rllab and garage.

[2019-05-29 17:13] #690 closed

[2019-05-29 17:40] ryanjulian opened #698 "use_gpu and use_tf apparently have no effect"
[code]
ref #697

@xht033

[2019-05-29 17:41] ryanjulian commented on #697
Please file different issues for different problems. This isn't a conversation forum, after all, this is a tool for developing software. I have forked your second issue into #698

viskit can be found at https://github.com/rlworkgroup/viskit or by installing using `pip install viskit`

Can you please provide a specific launcher script which reproduces the problem you're describing (cannot plot duri

[2019-05-29 17:44] ryanjulian commented on #698
@xht033

* `use_tf` is outdated and should be removed. it has no effect on whether your experiment uses tensorflow.
*`use_gpu` should be working -- how did you conclude that the GPU is being used?

[2019-05-29 22:14] #516 closed

[2019-05-29 22:17] #346 closed

[2019-05-29 22:24] ryanjulian opened #701 "Refactor garage.tf.samplers into garage.sampler"

[2019-05-29 22:25] ryanjulian opened #702 "Refactor garage.tf.envs into garage.sampler"
* These are not environment code nor wrappers
* They don't actually contain tf-specific implementations

[2019-05-29 22:41] lywong92 opened #703 "Add implementation of the MLP model in PyTorch to Garage"

[2019-05-29 23:27] krzentner opened #704 "Refactor Runner to allow Algorithm to own training loop"
Currently, the [`LocalTfRunner._train`](https://github.com/rlworkgroup/garage/blob/8b1bac869ac2bb167aa9982c80ee968e662b9f5a/src/garage/experiment/local_tf_runner.py#L352) method owns the outer training loops, because it uses them to provide services (such as snapshotting), to the Algorithm. However, all of those services could be provided by a "magic iterator" over the epoch.

Concretely, this wou

[2019-05-30 00:27] zequnyu commented on #685
Is the `garage.sampler.BatchSampler` still useful?

@ryanjulian Do you want to merge it as a `tf` sampler?

[2019-05-30 17:14] ryanjulian commented on #685
Yes, `garage.sampler.BatchSampler` is still useful.

The scope of this PR is to move https://github.com/rlworkgroup/garage/blob/master/src/garage/contrib/alexbeloi/is_sampler.py into the `garage.sampler` package (and add tests). If it is too hard, we will delete it instead.

[2019-05-30 20:06] ryanjulian opened #706 "Nightly gym tests are failing"
This appears to be an out-of-memory bug related to MuJoCo viewer windows not closing. We probably need to update the custom code for closing environments

Sample failure: https://travis-ci.com/rlworkgroup/garage/jobs/204138951#L1052
mujoco_py bug: https://github.com/openai/mujoco-py/issues/357

[2019-05-30 20:24] #670 closed

[2019-05-30 20:48] yonghyuc opened #708 "Implement GaussianMLPModel in PyTorch"

[2019-05-31 21:23] xht033 commented on #698
when I use nvidia-smi :
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 410.104      Driver Version: 410.104      CUDA Version: 10.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage |

[2019-05-31 21:26] xht033 commented on #698
when I use nvidia-smi, it shows my gpu is used:
|    0     10672      C   python                                      5373MiB |

but now **use_gpu = False**

[2019-05-31 21:47] xht033 commented on #697
I tried these scripts in garage/example/tf/: trpo_cartpole.py, trpo_gym_cartpole.py, vpg_cartpole.py.
I set
    `runner.train(n_epochs=100, batch_size=4000,plot=True)`
and
[code]
but all of these scripts cannot plot during training.

[2019-06-01 00:32] ahtsan opened #709 "Add support for multiple layers for recurrent network models"
Current recurrent network models, e.g. LSTMModel, only take single recurrent layer, which may not be sufficient for learning complex tasks. We should support multiple layers.

[2019-06-01 02:51] XuboLyu opened #710 "Is the range of output of PPO controlled by the action_space setting?"
Hi @kashif @jbn @bichengcao @zhongwen @ViktorM ,

I have a question about the setting of action_space in Env class.

If I set up the low limit and high limit of action_space (suppose [5,10]). Is the range of action output via PPO algorithm is controlled by my action_space setting? since the output of PPO includes the mean of Gaussian distribution. Is the mean is always zero, or changed by action_s

[2019-06-01 02:56] yongqianxiao opened #711 "No module named 'akro'"
**from garage.spaces import Box**
This line arose a error with **No module named 'akro'**

[2019-06-01 04:11] naeioi commented on #711
We recently introduced as a replacement of gym space. Can you try `pip install akro`?

[2019-06-01 04:26] yongqianxiao commented on #711
@naeioi thanks, solve it successfully

[2019-06-01 04:26] #711 closed

[2019-06-01 07:32] yongqianxiao opened #712 "Exception has occurred: ImportError cannot import name 'broadcast_to'"
**from tensorflow.python.ops.gen_array_ops import broadcast_to** arose a Exception:
**Exception has occurred: ImportError cannot import name 'broadcast_to'**

my TensorFlow version is **1.8**, and my python version is **3.6**. I can't find a class or a method named **broadcast_to** in the **gen_array_ops.py**

Can anyone tell me what's wrong?

[2019-06-01 19:57] ryanjulian commented on #712
the current `setup.py` lists TF1.12 as the dependency.

Nothing is guaranteed to work unless you have installed dependencies exactly as specified.

I'm going to close this issue. If you still have this problem when using the specific dependencies, please reopen.

[2019-06-01 19:57] #712 closed

[2019-06-01 20:12] ryanjulian commented on #710
This is a question about (deep) RL fundamentals and implementation, and not really about garage. You may find my explanation unsatisfying, because our time is quite limited and this is not really the proper forum for these type of questions.

* The mean of the Gaussian policy is not always zero. That would not a be a very useful policy (unless the optimal action was always 0).
* The action_space r

[2019-06-01 20:12] #710 closed

[2019-06-01 20:21] ryanjulian commented on #697
I was able to confirm this bug.

For a hotfix, you can add `self.plot = plot` at the top of `LocalRunner._train()`:
[code]

@zequnyu @naeioi can you send in a fix?

[2019-06-01 20:56] XuboLyu commented on #710
@ryanjulian
Thanks a lot for your reply.

Though I think the issue should not be closed so early, what I want to know is that if "garage" had considered the possible inconsistency between "env's action range" and "model's Gaussian output". As far as I know, openai baseline does not have a good consideration on this for most policy gradient algorithms using Gaussian distribution until last year. Yo

[2019-06-01 21:56] zequnyu commented on #697
Sure, I’ll do that.

[2019-06-02 12:02] yongqianxiao commented on #712
@ryanjulian OK， thanks

[2019-06-03 18:19] zequnyu opened #713 "test_batch_sampler() stuck silently"
The `test_batch_sampler()` got stuck silently even tested independently. However, while tracking the commit history, I found that when adding
[code]
to the test class, it could pass.

[2019-06-03 20:39] naeioi commented on #713
I suspect logger does some tensorflow initialization and that hangs batch_sample. could you try running examples/tf/trpo_cartpole_batch_sampler.py and see if it stucks?

[2019-06-03 21:00] zequnyu commented on #713
The example works.

[2019-06-03 21:04] ryanjulian commented on #698
Do you have python package `tensorflow` or `tensorflow-gpu` installed? What is the output of `pip freeze` inside your garage conda environment?

[2019-06-03 21:31] cheng-kevin commented on #234
@ryanjulian for case 2, what are we considering the "expected final reward with the expected rise time" ?

[2019-06-03 21:40] ryanjulian commented on #234
@CatherineSue can you help explain?

[2019-06-03 21:49] cheng-kevin commented on #234
![Screenshot from 2019-06-03 14-44-14](https://user-images.githubusercontent.com/9795673/58836679-42ce6f00-860e-11e9-8d58-c8e81dc208d9.png)

Are there other "high qualities implementations" other than rlkit, baselines, tf_agents.  These do have have implementations of ERWR, REPS, TNPG, VPG.

[2019-06-03 21:56] ryanjulian commented on #234
I think that list is basically my universe of "high quality implementations". you might want to check out stable-baselines

The list you made is of more "classic" RL algorithms which explains the lack of other implementations. We should be happy to duplicate others' results from papers for those.

[2019-06-04 16:15] CatherineSue commented on #234
For case 2, if there are no high-quality implementations we can compare to, we can compare to the performance in the papers for those algorithms.

[2019-06-04 21:31] xht033 commented on #698
pip freeze in conda environment:
`absl-py==0.7.1
akro==0.0.2
alabaster==0.7.12
aspy.yaml==1.3.0
astor==0.8.0
astroid==1.6.6
atari-py==0.1.15
Babel==2.7.0
baselines==0.1.5
boto3==1.9.157
botocore==1.12.157
box2d-py==2.3.8
cached-property==1.5.1
certifi==2019.3.9
cffi==1.12.3
cfgv==2.0.0
chardet==3.0.4
Click==7.0
cloudpickle==1.1.1
cma==1.1.6
coverage==4.5.3
cycler==0.10.0
Cython==0.29.9
decorator==

[2019-06-04 21:31] xht033 commented on #698
conda list tensorflow:
`# Name                    Version                   Build  Channel
tensorflow                1.13.1          gpu_py36h3991807_0
tensorflow-base           1.13.1          gpu_py36h8d69cac_0
tensorflow-estimator      1.13.0                     py_0
tensorflow-gpu            1.13.1               h0d30ee6_0
tensorflow-probability    0.6.0                    pypi_0    pypi
`

[2019-06-04 22:41] gitanshu opened #718 "Installer improvements"
- [ ] cleanup build files (.egg-info etc)
- [ ] Cleanup and improve docs
- [ ] support zsh/fish

[2019-06-05 05:20] zequnyu commented on #713
I also have a [test](https://github.com/rlworkgroup/garage/pull/717/files#diff-87b617e336912cbf3885a20466709120) got stuck silently. This time it could pass local unittest and nose2, but not CI. I feel like both due to the multi processing part of `singleton_pool`, which is pretty tricky to debug.

[2019-06-05 19:06] ryanjulian opened #720 "test_trpo_gru_cartpole is flaky"
https://travis-ci.com/rlworkgroup/garage/jobs/205552438#L730

[2019-06-05 20:37] krzentner commented on #713
The fact that the change at you describe fixes the problem is a pretty big hint.

@zequnyu If you add a `dowel.StdOutput` instead of the `NullOutput`, is there any particularly interesting log information?

[2019-06-05 20:51] #697 closed

[2019-06-06 04:27] naeioi commented on #704
I don't quite get the point of this proposal. Can you elaborate a bit? In particular, if we were to place the training loop in algorithm, and give an algorithm access to sampler, isn't it essentially reverting to the garage before runner came to exist?

To me, the idea of runner owning training loop is to decouple algorithm from experiment orchestration. This includes sampling, logging, snapshotti

[2019-06-06 06:15] naeioi commented on #713
You are not likely to fix this bug. This is yet another bug rooted in tensorflow not being fork-safe. Your workaround posted at the very beginning works because it overrides `setUp()` of `TfGraphTestCase`, where a tensorflow session is created, and which will lead to a freeze in a multiprocess context.

My suggest is either we remove this test, or place it under an isolated test class, which does

[2019-06-06 06:21] zhanpenghe commented on #713
I have not taken a look at the test yet but I think it is not related to tensorflow. Currently dowel is hanging if  logger.remove _all() is not called. I encountered this too in my research project.

[2019-06-06 20:50] CatherineSue commented on #435
Fixed in #632.

[2019-06-06 20:50] #435 closed

[2019-06-07 20:18] ryanjulian commented on #706
Please prioritize this. A red build badge every day makes the project look bad.

[2019-06-10 19:22] krzentner commented on #704
For most deep RL algorithms, this change won't make a big difference, since they are easy to write using the loop described above by defining `train_once`. However, for algorithms that operate in other ways (such as a collection of policies), this is really awkward. For example, evolutionary strategies algorithms need to switch out the policy each `train_once` step, and match up the `paths` it rec

[2019-06-11 19:23] gitanshu commented on #706
#724 fixes the MjViewer windows not closing. However, I noticed that the windows for envs gym.envs.box2d, gym.envs.classic_control and gym.envs.atari don't close their windows either. Maybe i should manually close them too. What do you think?
Also how can i trigger nightly tests on CI manually?

[2019-06-11 19:38] ryanjulian commented on #706
yes -- the regression might have spread to other gym suites. whenever you detect that the window closing is not working, please update the test suite to close them manually.

[2019-06-12 04:00] xht033 opened #726 "Error occurs when using CategoricalConvPolicyWithModel"
[code]

Got ERRORS:

`ValueError: Trying to share variable policy/Sequential/CNNModel/cnn/h0/weight, but specified shape (3, 3, 100800, 32) and found shape (3, 3, 3, 32).`
Then I changed the 200th line in algos/npo to
 `
 obs_var = observation_space.new_tensor_variable(
                name='obs', extra_dims=2, flatten=False)`

STill got errors:
`TypeError: Value passed to parameter 'input' has Da

[2019-06-12 06:21] naeioi commented on #704
I think you just hit the right point on the problem of the current design. I can relate a lot to your point on revolutionary algorithm having to switch policy each `train_once` step. This happens on both CEM and CMAES, and can be problematic in many ways. I want to support this with a concrete example - for these two algorithms, there's an implicit requirement that `n_epoch_cycles` in runner shoul

[2019-06-12 17:58] CatherineSue commented on #283
finished in #632

[2019-06-12 17:58] #283 closed

[2019-06-12 18:17] zequnyu commented on #685
Closed by merging #717.

[2019-06-12 18:17] #685 closed

[2019-06-13 01:08] zequnyu commented on #704
@naeioi Thank you! Will try it.

[2019-06-19 00:44] ryanjulian commented on #726
@ahtsan @nish21 please triage this

[2019-06-19 20:06] lywong92 opened #731 "Pin akro version and resolve bugs"
- pin arko version
- resolve a bug in pytorch mlp module: module is not constructed correctly when hidden_nonlinearity is defined as None

[2019-06-19 20:10] ryanjulian commented on #731
Can you describe the bug? i.e. how to reproduce it, expected output, actual output?

[2019-06-19 21:28] zhanpenghe commented on #731
@ryanjulian Last night `akro` was refactored but garage never pins the version number of akro so I asked @lywong92 to pin the version number to `0.0.2` for a quick fix so that others' tests won't fail.

Of course, `garage`'s `akro` should be bumped to `0.0.3` soon.

[2019-06-19 21:30] zhanpenghe opened #732 "Bump akro to 0.0.4"

[2019-06-19 21:37] ryanjulian commented on #731
Ah. Seems like there should be 2 issues filed then. one for akro, one for the MLPModule

[2019-06-20 04:29] ahtsan opened #734 "*Conv* models should accept uint8(images) and normalize"
Convolution network should accept placeholder with type uint8 (images) but garage is not. Example: https://github.com/rlworkgroup/garage/blob/master/src/garage/tf/policies/categorical_cnn_policy.py#L104

It should also normalize the images.

[2019-06-20 04:35] zequnyu commented on #713
Closed by #727.

[2019-06-20 04:35] #713 closed

[2019-06-20 19:50] zequnyu opened #736 "Refactor CEM and CMA_ES to use new train method in Algorithm"
To refactor CEM and CMA_ES to conform to new interface introduced by #728, so that they don't depend on itr to determine the stage.

[2019-06-20 19:53] zequnyu opened #737 "Separate tf-specific implementations from LocalRunner"
To introduce `LocalTFRunner` as a subclass of `LocalRunner`.

[2019-06-20 21:18] ryanjulian opened #738 "Remove Serializable codebase-wide"

[2019-06-20 21:18] ryanjulian opened #739 "Remove Parameterized codebase-wide"

[2019-06-20 21:36] #731 closed

[2019-06-20 22:59] zequnyu commented on #87
I'm confused why we initialise `singleton_pool` in `LocalRunner`. Could you explain to me what's the difference between `n_parallel` in `run_experiment()` and `max_cpus` in `LocalRunner`?

[2019-06-21 03:46] naeioi commented on #87
@zequnyu There is no difference. Both `n_parallel` and `max_cpus` do the same job - Initialize `singleton_pool` so that `BatchSampler` works properly. So this is redundancy and one of them should be deprecated. I will argue to remove `n_parallel` from `run_experiment()` because we are likely to remove `run_experiment()` anyway.

[2019-06-21 03:50] naeioi commented on #87
Regarding this issue. @ryanjulian Is there a problematic reproducer? Otherwise, as you have pointed out, some people will want to run in the non-pickled mode for performance.

[2019-06-21 06:21] zequnyu commented on #704
Closed via #728.

[2019-06-21 06:21] #704 closed

[2019-06-21 13:35] ilinojkovic opened #741 "TRPO not supports GaussianLSTMPolicy"
Just by changing the line with `GaussianMLPPolicy` to `GaussianLSTMPolicy` in `trpo_swimmer.py` example I get the error:
[code]
Same goes for `GaussianLSTMPolicyWithModel` and `GaussianGRUPolicy`.

Is this the expected behavior and should TRPO support recurrent policies?

[2019-06-21 17:04] ryanjulian commented on #741
@ahtsan please investigate

[2019-06-21 17:05] ryanjulian commented on #741
@ilinojkovic thanks for reporting! we will take a look

[2019-06-21 17:06] ilinojkovic commented on #741
No problem. Hopefully it won't be a hustle to resolve.

[2019-06-21 18:03] ryanjulian opened #742 "v2019.10 CHANGELOG"

[2019-06-21 18:03] ryanjulian opened #743 "v2019.10 Release"
Update VERSION, release tag to PyPI, etc.

[2019-06-21 19:41] ryanjulian commented on #87
The problem is structural. Some bugs appear when pickling which do not appear if you don't pickle. We don't want to have to create a test for both configurations for every test.

My suggested fix is to pickle/unpickle (and use only the pickled version) everything which would be transmitted to a remote process, even if you are in single-process mode. This could be done once at the beginning of trai

[2019-06-21 20:19] ahtsan commented on #734
Check out the remote branch `/fix_npo_conv` as a reference.

[2019-06-21 20:19] ahtsan commented on #726
Similar to #734

[2019-06-21 20:22] ahtsan commented on #529
closed by #705

[2019-06-21 20:22] ahtsan commented on #528
closed by #677

[2019-06-21 20:23] ahtsan commented on #527
closed by #723

[2019-06-21 20:27] ahtsan commented on #525
closed by #672 and #574

[2019-06-21 20:28] ahtsan commented on #524
closed by #642

[2019-06-21 20:31] ahtsan commented on #523
closed by #606 and #574

[2019-06-21 20:32] ahtsan commented on #521
based by #574

[2019-06-21 20:32] ahtsan commented on #520
closed by #668

[2019-06-21 20:33] ahtsan commented on #519
closed by #618

[2019-06-21 20:57] ryanjulian commented on #703
@lywong92 is this done?

[2019-06-21 20:58] lywong92 commented on #703
Yes I will close it

[2019-06-21 20:58] #703 closed

[2019-06-22 05:04] naeioi commented on #87
After some investigation, I can conclude that there's actually no non-pickled mode in garage. Whenever `run_experiment()` is used, it will always pickle the experiment and spawn a new process, regardless of `n_parallel`.

[2019-06-23 19:27] ahtsan commented on #741
@ilinojkovic Good catch! Try replacing `algo = ...` with
[code]

(Ref: https://github.com/rlworkgroup/garage/blob/master/examples/tf/trpo_cartpole_recurrent.py)

`ConjugateGradientOptimizer` and `FiniteDifferenceHvp` should be used for recurrent policies.

[2019-06-24 12:28] ilinojkovic commented on #741
Hi @ahtsan, thanks for the response. I tried your suggestion, but now I get a different error:
[code]
This breaks when snapshot is being saved.

[2019-06-24 14:30] ilinojkovic opened #746 "Difference between GaussianMLPPolicy and GaussianMLPPolicyWithModel"
What is the difference between GaussianMLPPolicy and GaussianMLPPolicyWithModel? I couldn't find much documentation on this, and from the code, it seems that they provide the same functionality but implemented in different ways.

[2019-06-24 15:10] ahtsan commented on #741
@ilinojkovic We are working on the issue. As a quick fix, comment `snapshotter.save_itr_params(epoch, params)` in `local_tf_runner.py`.

[2019-06-24 15:16] ilinojkovic commented on #741
Do you have an ETA on the fix? I'd kinda need the snapshots, so to figure if it's worth to hack my way out or wait for official change.

[2019-06-24 15:18] ahtsan commented on #741
@ilinojkovic Should be done soon, blocked on the CI. You can look at the changes in https://github.com/rlworkgroup/garage/pull/745.

[2019-06-24 15:22] ilinojkovic commented on #741
Thanks!

[2019-06-24 17:11] ryanjulian commented on #746
We are currently working on removing an [old, custom neural network layers library](https://github.com/rlworkgroup/garage/blob/master/src/garage/tf/core/layers.py) and replacing it with vanilla TensorFlow and a new abstraction called Models.

We are implementing the new versions of each primitive in parallel, and the new version of each primitive has the name "WithModel."

In the near future (2-3

[2019-06-24 17:11] #746 closed

[2019-06-24 17:22] ryanjulian commented on #87
okay, i will close this bug then.

[2019-06-24 17:23] ryanjulian commented on #741
@ahtsan oer @ilinojkovic -- please add a unit test which would have caught this bug. i think you can just run one step of TRPO using GaussianLSTMPolicy, right?

[2019-06-24 17:40] ryanjulian commented on #726
@ahtsan is this an exact duplicate? can you explain?

[2019-06-24 20:09] zequnyu commented on #87
Actually the resume function call in `experiment_wrapper.py` is non-pickled. I think we need some refactoring for that.

[2019-06-24 20:22] ryanjulian commented on #87
Doesn't resume imply pickling, though? How could you resume without pickling/unpickling first?

[2019-06-24 23:35] zequnyu commented on #87
For the data yes it was loaded. But I think when we refer to pickled mode, we are talking about function call. Concretely:

- define a `run_task()`, pass it to `run_experiment()` in `experiment.py` (as all our examples in `/examples` do)
- in `experiment.py` the `run_task()` is [dumped](https://github.com/rlworkgroup/garage/blob/96342cdc1e3384c06e4decdb1c5cdb23f7976a31/src/garage/experiment/experi

[2019-06-24 23:56] ryanjulian commented on #87
I see. I think this is a slightly different issue than the one this was originally mentioning, but I agree we should unify those approaches. Is there a reason we can't use the same approach as in LocalRunner in both cases?

[2019-06-25 00:54] zequnyu commented on #87
I don’t see any. Will try it later.

[2019-06-25 18:23] ryanjulian commented on #741
Fixed by #745. please (re)open a new issue if this isn't solved by the most up-to-date code.

[2019-06-25 18:23] #741 closed

[2019-06-25 18:24] ryanjulian opened #748 "Backport #745"
* [x] v2019.02
* [ ] v2018.10

[2019-06-25 18:26] ryanjulian opened #749 "Backport #714"
* [ ] v2018.10
* [ ] v2019.02

[2019-06-25 18:26] ryanjulian opened #750 "Backport #691"
* [x] v2019.02
* [ ] v2018.10

[2019-06-25 18:27] ryanjulian opened #751 "Backport #626"
* [x] v2019.02
* [ ] v2018.10

[2019-06-25 18:28] ryanjulian opened #752 "Backport #511"

[2019-06-25 18:31] lywong92 opened #753 "Add ContinuousMLP -Policy and -QFunction in PyTorch"
Implement deterministic policy and Q-fuction in Pytorch and their corresponding tests

[2019-06-25 18:41] ryanjulian commented on #732
@krzentner this is finished right?

[2019-06-25 18:47] ryanjulian opened #754 "Remove itr_0.pkl from root"

[2019-06-25 18:48] ryanjulian commented on #754
Please also add *.pkl to .gitignore

[2019-06-26 15:42] ryanjulian opened #755 "Docs builds are failing"
This is both on `master` and the `fix_docs_gen` branch. It appears to be a TensorFlow install error in the rtfd environment.

See:
https://readthedocs.org/projects/garage/builds/9260419/
https://readthedocs.org/projects/garage/builds/9260420/

[2019-06-26 18:40] ahtsan commented on #741
@ilinojkovic Please kindly check if the issue is resolved.

[2019-06-26 22:11] gitanshu commented on #755
Looks like changing the python interpreter from 2.x to 3.x in rtfd advanced settings broke master.
[This commit](https://github.com/rlworkgroup/garage/commit/44fb818d9dadbf85cb63c1a7ebcaae735e1fa8e4) fixes it by forcing python 3.6 since tf doesn't support 3.7, but then rtfd tries to fetch dm_control from pypi instead of github and [fails there](https://readthedocs.org/projects/garage/builds/928498

[2019-06-27 20:10] #382 closed

[2019-06-27 20:32] ryanjulian commented on #755
ReadTheDocs appears to be trying to use easy_install to attempt to install the package, which is a really old way of installing python packages.

easy_install fails to properly parse the [PEP508](https://www.python.org/dev/peps/pep-0508/) string used to declare the git-based dependency for dm_control in setup.py

I attempted to force it to use pip to install with [this commit](https://github.com/r

[2019-06-27 21:03] krzentner commented on #754
I resolved this by rewriting history.

[2019-06-27 21:19] gitanshu commented on #755
Still the same :|

[2019-06-27 21:23] ryanjulian commented on #755
My attempt got a little farther, but is still hanging up on dm_control and mpi4py installs, because we can't get some C-based libraries (e.g. mujoco) on ReadTheDocs.

Is install required to generate the apidoc?

If so, I think we will have to create a special requirements file which omits the offending packages, then mock them out using autodoc_mock_imports. There is a guide [here](https://docs.re

[2019-06-27 21:28] #754 closed

[2019-06-28 17:55] #305 closed

[2019-06-28 17:55] ryanjulian commented on #305
closed by #744

[2019-06-28 18:04] ryanjulian commented on #706
new failures https://travis-ci.com/rlworkgroup/garage/jobs/211907313#L1310

[2019-06-28 18:05] ryanjulian commented on #726
@ahtsan bump

[2019-06-28 18:10] #402 closed

[2019-06-28 18:33] ryanjulian opened #758 "Remove check_flake8.sh"
This was created to help us check new code for flake8 compliance, even though the codebase at the time was really bad.

We now have brought the codebase up-to-date, and check_flake8 is no longer needed.

This can be done as soon as #409 is closed.

It will require:
* Switching .pre-commit-config.yaml to use the default flake8 check
* Verifying that flake8 still catches problems in the CI (in test,

[2019-06-28 21:44] ahtsan commented on #726
@nish21 working on it

[2019-06-29 15:42] #706 closed

[2019-07-03 21:00] nish21 opened #766 "Change CNN API to use tuples for defining kernels"
Currently,
1) Garage currently only supports filters of same dimensions Eg: A filter should be of shape
`(n, n)`. It should support filters of shape `(m, n)` as well.

2) CNN currently accepts two inputs `filter_dims` and `num_filters` to specify the dimensions and number of filters. So, to create a CNN with `n1, n2` filters of shape `(s1, s1)`
and `(s2, s2)` respectively, we need to pass it as `f

[2019-07-05 13:26] ilinojkovic opened #767 "Parallel sampling for TRPO and PPO with GaussianMLPPolicyWithModel"
I'm looking into the `n_parallel` variable in `experiment_wrapper.run_experiment`, and I'm a bit confused. Per documentation, this should be the number of parallel workers to perform rollouts, but it seems that even when `n_parallel > 1` the sampling is still done in one process.

I'm running TRPO and PPO with `GaussianMLPPolicyWithModel` using `LocalRunner`, and looking at the code, it seems that

[2019-07-05 18:02] ryanjulian opened #768 "Nightly builds are failing"
https://travis-ci.com/rlworkgroup/garage/jobs/213465246

I think it may have been a API change in pyglet. we may need to pin that dep.

[2019-07-05 21:44] ilinojkovic opened #769 "Action space bounds not regarded for GaussianMLPPolicy and GaussianMLPPolicyWithModel"
It seems that action space bounds provided by the environment aren't taken into account in `GaussianMLPPolicy` and `GaussianMLPPolicyWithModel`. Shouldn't the actions be sampled only from the defined Box?

[2019-07-05 23:15] ryanjulian commented on #769
This is a common misconception. The short answer is no, they should not be clipped by the model to the action space bounds.

The output of a Gaussian distribution is unbounded. Clipping the outputs (in the differentiable path) would be a different model class, because it would imply bounded output domain, which a Gaussian is incapable of modeling. If the agent is truly represented by a Gaussian di

[2019-07-05 23:15] #769 closed

[2019-07-05 23:41] ryanjulian commented on #767
I apologize that the sampling code is hard to understand right now. We are in the midst of rewriting a lot of it.

`OnPolicyVectorizedSampler` uses a `VecEnvExecutor` rather than the parallel sampling multiprocessing pool. That is, it constructs `n` environments in the current process and samples them all at once, one observation at a time . We use this as the default (we call it vectorized sampli

[2019-07-05 23:41] #767 closed

[2019-07-05 23:41] ryanjulian commented on #732
fixed by #740

[2019-07-05 23:41] #732 closed

[2019-07-05 23:43] avnishn commented on #767
look particularly at the n_envs parameter.

[2019-07-06 16:22] ilinojkovic commented on #769
@ryanjulian, thanks for such a thorough answer!

[2019-07-06 17:59] ilinojkovic commented on #767
Thank you both for the answers. I just tested the `BatchSampler` as per example, and as @ryanjulian says, it's indeed slower then vectorized sampling. This seems odd to me, if we have a fixed policy, shouldn't we be able to perform all rollouts independently? Currently I experience a linear increase in sampling time along number of environments, which for lengthy rollouts can be significant.

[2019-07-06 20:32] ryanjulian commented on #767
There is a large overhead in transmitting the policy parameters between OS processes, then transmitting the rollouts collected in those processes back to the main training process.

[2019-07-06 20:33] ilinojkovic commented on #767
I see. Thanks for clarification.

[2019-07-06 22:40] ilinojkovic commented on #768
Is this maybe connected:
[code]
I'm trying to run scripts on cluster without display.

[2019-07-09 18:52] ryanjulian commented on #680
@zequnyu is this fixed?

[2019-07-10 01:07] zequnyu commented on #680
Closed via #699.

[2019-07-10 01:07] #680 closed

[2019-07-10 03:34] zequnyu opened #778 "Remove cloudpickle"
It seems `cloudpickle` is no longer needed in garage and therefore should be removed and replaced by `pickle`.

[2019-07-10 16:46] ryanjulian opened #779 "Investigate replacing garage.envs.wrappers with gym.wrappers"

[2019-07-10 16:46] ryanjulian opened #780 "Investigate gym.vector for vectorized environments"
It's not clear this will fit in our sampler API, but it's worth looking at.

[2019-07-10 16:47] ryanjulian commented on #779
We might want to contribute our tests to upstream.

[2019-07-10 18:02] ryanjulian opened #781 "TestOffPolicyVectorizedSampler is flaky"
See https://travis-ci.com/rlworkgroup/garage/jobs/214866746#L1705

[2019-07-10 18:08] ryanjulian commented on #781
adding @naeioi and @ahtsan since @zequnyu might be away

[2019-07-10 19:59] ryanjulian opened #782 "Test suite starts but does not kill thousands of ForkPoolWorkers"
Steps to reproduce:
`make test`

[code]

[2019-07-11 03:32] naeioi opened #784 "pytest flag --strict-markers requires version 4.5.0"
pytest flag `--strict-markers` in https://github.com/rlworkgroup/garage/blob/master/setup.cfg#L79 requires version >= 4.5.0.

See https://docs.pytest.org/en/latest/changelog.html#pytest-4-5-0-2019-05-11

[2019-07-11 18:52] ryanjulian commented on #720
@ahtsan is this fixed by #785?

[2019-07-11 18:56] ahtsan commented on #720
will be fixed by #786

[2019-07-11 21:10] gitanshu opened #788 "Update gym to 0.13.1"
This seems to break 'Defender-*' atari envs. See: https://github.com/rlworkgroup/garage/pull/771#issuecomment-510272616

[2019-07-11 22:22] ryanjulian commented on #778
Should be a fast one, right?

[2019-07-11 23:42] ryanjulian opened #789 "Add a determinism integration test(s)"
It would be nice to have a integration test for the sampler(s) and/or an algorithm which ensures that set_seed() is working properly.

Essentially, it would launch two experiments with the same seed and verify the samples they receive are approximately equal, and that the output from the learning algorithm is approximately equal as well.

[2019-07-11 23:47] #768 closed

[2019-07-11 23:48] ryanjulian commented on #784
is there a CI failure happening somewhere we can reference?

[2019-07-12 00:37] ryanjulian opened #790 "VectorizedSamplers should have a higher default n_envs"
Currently, the default n_envs for VectorizedSamplers is 1. I think it should be at least `max_cpus` as passed to LocalRunner. With VectorizedSampler, CPU load does not appear to scale linearly with number of envs, so this could perhaps be even higher (until we reach marginal returns).

[2019-07-12 01:49] zequnyu commented on #778
Yes, sorry I'm away and my network is not good. I'll do it ASAP.

[2019-07-12 03:46] naeioi commented on #784
No. This issue is minor as it only affects old users trying to integration latest changes (like me). The stipulated minimum version of pytest is 3.6, which does not support `--strict-markers`.
https://github.com/rlworkgroup/garage/blob/master/setup.py#L59

[2019-07-12 05:01] naeioi commented on #781
For the `imp` warning. This warning appears as long as tensorflow is imported in a test. There are other occurrences. for example, here https://travis-ci.com/rlworkgroup/garage/jobs/214866746#L1705.
When a script is run from command line rather than pytest, these warnings are somehow magically suppressed. I did some investigation but didn't find out how and why.

For the `inspect.getargspec()` war

[2019-07-13 00:37] ryanjulian commented on #708
Closed by #707

[2019-07-13 00:37] #708 closed

[2019-07-15 03:12] #781 closed

[2019-07-15 04:13] ahtsan opened #794 "OnPolicyVectorizedSampler should not flatten pixel observations"
Currently OnPolicyVectorizedSampler always flattens the observations, even for pixel observations. Spatial information in the observations will be lost.

[2019-07-15 04:16] ahtsan opened #795 "OnPolicyVectorizedSampler should normalize pixel observations"
Currently OffPolicyVectorizedSampler normalizes pixel observations and feed to policies.
OnPolicyVectorizedSampler should also do that.

Policies shouldn't be responsible to normalize pixel inputs since it's more efficient to normalize as a batch when sampling.

[2019-07-15 04:20] ahtsan commented on #734
Issue #794 and #795 should cover this bug, since it makes more sense that sampler should be responsible to normalize the inputs if inputs are images. In that case, policies do not need to normalize the inputs and will receive normalized images, with type `float32`. Therefore closing this issue.

[2019-07-15 17:29] #213 closed

[2019-07-15 17:32] ryanjulian commented on #795
Don't you think this should be in a wrapper or the algorithm? Why should it be that the sampler *always* normalized pixels? How do we even know when an observation is pixels?

[2019-07-15 17:33] ryanjulian commented on #794
Perhaps the solution here is for the observations to carry some type information, so we know what to do with them?

[2019-07-15 18:03] ahtsan commented on #795
Can we assume that Box and len(observation_space) == 3?

[2019-07-15 18:06] ahtsan commented on #794
Like paying a bool when constructing the TfEnv?

[2019-07-15 20:04] krzentner commented on #749
#714 fixes bugs with plotting using the new runner. It doesn't make sense to backport it, since all files it effects didn't exist in v2019.02 or earlier.

[2019-07-15 20:04] #749 closed

[2019-07-15 20:13] krzentner commented on #752
I'm not actually convinced that we should do this backport. Or at least not fully, since it uses `Model`s and partially depends on #606.

[2019-07-15 21:13] ryanjulian commented on #752
okay, then let's skip it.

[2019-07-15 21:20] ryanjulian commented on #795
no. we need to deal with arbitrary spaces.

[2019-07-15 21:23] ryanjulian commented on #794
no. peppering your API with bools about what types are being processed is classic terrible software engineering.

I was suggesting that the akro.spaces object would know it was an image, or even better, i would just have some tag on a couple of the dims which instructs the algorithm not to flatten those dimensions.

alternatively, we could introduce an Image space.

[2019-07-15 21:24] ryanjulian commented on #752
i must have picked the wrong PR# for this issue name. i would have never suggested backporting a model PR.

[2019-07-15 21:25] ryanjulian commented on #752
@krzentner can you check out #511?

[2019-07-16 00:25] ahtsan commented on #795
Actually maybe policy should be responsible to normalize, since policy is the source of knowledge. In the case of DQN, the sampler is required to return unnormalized observations and store into replay buffer. At the time observations are sampled and fed to the policy, that's the time when it is normalized.

At the time we construct a policy, we should have already known whether input observations

[2019-07-16 01:09] ahtsan opened #798 "TestOffPolicyVectorizedSampler is failing"
See https://travis-ci.com/rlworkgroup/garage/jobs/215962492#L2034.

[2019-07-16 13:15] 13331151 opened #799 "IndexError when running the her_ddpg_fetchreach.py"
(garage) liemzuvon@liemzuvon-MS-7B23:~/code/garage$ ./examples/tf/her_ddpg_fetchreach.py
WARNING: Logging before flag parsing goes to stderr.
W0716 21:13:03.309802 140498767222592 deprecation_wrapper.py:119] From /home/liemzuvon/anaconda3/envs/garage/lib/python3.6/site-packages/garage-2019.6.0.dev0-py3.6.egg/garage/tf/algos/ddpg.py:78: The name tf.train.AdamOptimizer is deprecated. Please use tf.c

[2019-07-16 16:34] ryanjulian commented on #799
@sud0nick @krzentner can you take a look and see if this is a bug, API change, bad documentation etc?

[2019-07-16 17:25] ryanjulian opened #800 "Upgrade pycma so that garage can install without numpy"
The current version of pycma we use requires numpy to run its setup.py. This breaks most automated install processes. Later versions of pycma don't have this problem, but they have an API change which requires updating `garage.np.algos.cmaes`.

[2019-07-16 17:30] #87 closed

[2019-07-16 18:14] #444 closed

[2019-07-16 18:14] #666 closed

[2019-07-16 18:24] ryanjulian commented on #789
@nish21 @zhanpenghe i think you both would be interested in this

[2019-07-17 00:27] ryanjulian commented on #726
@ahtsan : @nish21 is really busy -- can you take a look at this one?

[2019-07-17 00:32] ahtsan commented on #726
Issues have been created for this #794, #795. Should we continue the discussion under these issues and come back here once it's fixed?

[2019-07-17 00:35] ahtsan commented on #794
Wrap the environment with an Image space so that `OnPolicyVectorizedSampler` will not flatten the observations?

[2019-07-17 00:45] gitanshu opened #803 "Fix docstring/docs formatting"

[2019-07-17 02:06] ahtsan commented on #726
@xht033 The issue here is that input should not be flattened. We will fix that soon.
As a hot fix, you can replace line 90 in `on_policy_vectorized_sampler.py`
[code]
to
[code]

and you should be able to run the following script

[code]

[2019-07-17 02:09] ahtsan commented on #734
Policies should be responsible to normalize pixel inputs. Reopened.

[2019-07-17 02:09] #795 closed

[2019-07-17 10:16] zequnyu commented on #736
After some attempts I feel our current code is probably ok. `train_once()` and `process_samples()` need `itr`, and I think `train_once()` is a good place to determine the stage.
For `n_epoch_cycles`, it's hard to remove from `LocalRunner`. We can, however, remove it from the algorithms, which will result in more integration between our runner and algos. Is this what you are looking for? @naeioi

[2019-07-17 18:19] ryanjulian commented on #726
i will close this as it's being tracked by #794 and #795 and you have provided a hotfix

[2019-07-17 18:19] #726 closed

[2019-07-17 18:20] ryanjulian commented on #794
Yes, something like that.

[2019-07-17 18:30] #647 closed

[2019-07-17 18:30] #755 closed

[2019-07-17 22:45] lywong92 opened #804 "Add DDPG in PyTorch"
- Implement the DDPG algorithm in PyTorch
- Implement a local runner for PyTorch algorithms
- Create a task with DDPG and run benchmark on it

[2019-07-17 22:54] krzentner commented on #804
The local runner for PyTorch algorithms should just be the current runner, but with the Tensorflow session removed. I believe @zequnyu is already working on this.

[2019-07-18 00:28] zequnyu commented on #804
Yes, I'll bring the runner up soon.

[2019-07-18 19:01] yonghyuc opened #805 "Add VPG in PyTorch"
Implement the VPG algorithm in PyTorch
Create a task with VPG and run benchmark on it

[2019-07-18 20:12] ryanjulian commented on #804
I would add:
* Benchmark the new DDPG against tf/DDPG and DDPG from openai/baselines (using the Mujoco1M benchmark)

[2019-07-18 20:31] avnishn opened #807 "torch/Soft Actor Critic"

[2019-07-18 20:37] ryanjulian commented on #807
You should probably collaborate with @lywong92 because this shares a lot of code with #804

[2019-07-19 17:52] avnishn opened #808 "TestOffPolicyVectorizedSampler Should be marked as flaky"

[2019-07-19 17:53] avnishn commented on #808
test_no_reset, a test function in TestOffPolicyVectorizedSampler has failed and passed after being rerun. Should be marked as flaky

[2019-07-19 18:35] ahtsan commented on #808
Reference: https://travis-ci.com/rlworkgroup/garage/jobs/215962492#L2034

[2019-07-19 18:35] ahtsan commented on #798
Closing since duplicate #808

[2019-07-19 18:35] #798 closed

[2019-07-19 19:17] #753 closed

[2019-07-19 22:35] ryanjulian commented on #808
I'd prefer we just fix it.

[2019-07-22 06:12] #808 closed

[2019-07-22 17:45] ryanjulian opened #812 "Fix the CI for active release branches"
Our release branches fail the CI because we have some infrastructure which assumes that all CI jobs are based on master. If we fix these assumptions, we can keep the CI running on active release branches to make sure backports and the like are still working.

[2019-07-24 17:59] zequnyu commented on #790
Emmm would you tell more about how can we find the number of envs for marginal returns?

[2019-07-24 17:59] zequnyu commented on #790
@ryanjulian  would you tell more about how can we find the number of envs for marginal returns?

[2019-07-24 21:28] ryanjulian commented on #790
@zequnyu I'm not sure I understand how marginal returns are related. Can you explain?

[2019-07-24 23:24] zequnyu commented on #790
I'm not sure how to find the maximum number of `n_envs` so that it maximize CPU load. Did I understand your comment correct?

[2019-07-25 03:22] zequnyu commented on #778
Close via #791.

[2019-07-25 03:22] #778 closed

[2019-07-25 17:41] ryanjulian commented on #778
great work!

[2019-07-25 18:45] ryanjulian commented on #790
Oh, sorry. By "marginal returns" i actually meant "diminishing marginal returns" -- i.e. until it stops making it faster to add environments.

how to determine the ratio? basically, just run some tests. you want to find a multiplier `c` such that when you set `n_envs = c * max_cpus` maxes out the machine (i.e. load average = 1.3-1.5x the number of logical CPUs on a hyperthreaded machine).

essenti

[2019-07-26 03:46] ryanjulian commented on #638
closed by #787

[2019-07-26 03:46] #638 closed

[2019-07-26 19:14] ryanjulian opened #820 "Copy entrypoints into Dockerfiles"
Copying the entrypoints into Dockerfiles (and calling them referencing the internal path) will allow downstream containers to more easily use the Dockerfile stack.

Currently if you try to use a Dockerfile downstream, it will build successfully but fail to run because it can't find the entrypoint in the local build context.

[2019-07-27 02:19] krzentner opened #822 "Prevent Travis CI from ending build early"
It looks like running pytest with multiple processes on Travis CI causes the hung build detector to trip, since pytest doesn't output anything when a test passes until all of the tests have passed.

If no warning is thrown by any test code for 10 minutes, then Travis CI ends the build while the tests are still running.

One easy solution to this is to not run the tests in parallel. Alternatively,

[2019-07-27 02:19] krzentner commented on #822
I first noticed this while debugging why #821 was failing.

[2019-07-27 19:06] wyjw opened #824 "Trying the Tutorial in the Docs"
I am trying the tutorial and have updated the file to make it current. However, it yields an error.

[code]

The error is:

[code]

It seems that the session does not exist.

[2019-08-01 17:36] avnishn commented on #822
As we discussed, the pytest outputs PASSED as tests pass, and so we shouldn’t need add any print statements to the Travis CI ouput. Can we go ahead and close this for now @krzentner

[2019-08-05 16:54] zequnyu opened #829 "Add default sampler reference to algorithms"
Currently our `LocalRunner` decides sampler class for algorithms.
https://github.com/rlworkgroup/garage/blob/f4a6271edd0f9c280c306d1f0bbf4bc1591ab85e/src/garage/experiment/local_tf_runner.py#L128-L139
The plan is to add reference of default sampler to algorithms so that we can remove the above code from `LocalRunner`.

[2019-08-05 21:53] zequnyu commented on #737
Close via #816.

[2019-08-05 21:53] #737 closed

[2019-08-05 22:25] avnishn opened #831 "Ray Sampler, using ray.put to avoid slowdown in passing agent and env parameters to ray sampler worker"
In ray_batched_sampler.py, on line 58,

https://github.com/rlworkgroup/garage/blob/e128f3d8bb507889d473e4d4a173398bbaa87c98/src/garage/sampler/ray_sampler.py#L58

After pickling the agent and env, we `ray.put` them into the ray shared object store. Doing this allows us to avoid putting those objects into memory multiple times, especially since we use the env and the agent in multiple sampler worke

[2019-08-05 22:30] avnishn commented on #831
small example to recreate the problem:

[2019-08-06 00:16] avnishn commented on #831
reference pr #830

[2019-08-06 02:37] avnishn commented on #31
closed via #793

[2019-08-07 19:08] zequnyu commented on #829
Close via #832.

[2019-08-07 19:08] #829 closed

[2019-08-10 07:33] krzentner opened #837 "Fix ReplayBuffer / HER for variable lengths paths"
The current ReplayBuffer stores transitions in fixed length blocks called "episodes". One would expect each of those transitions to be a path. However, the implementations of `ReplayBuffer` and `OffPolicyVectorizedSampler` do not ensure that is the case, and instead merely collect samples from many separate paths, splitting them into episodes after a fixed number of time steps across all paths. Th

[2019-08-10 23:07] ryanjulian commented on #837
I second this. Modern off-policy RL algorithms really need 2 types of buffer: an episode buffer and a sample buffer.

[2019-08-12 17:33] zequnyu commented on #702
Close via #836.

[2019-08-12 17:33] #702 closed

[2019-08-13 19:00] zequnyu opened #841 "Refactor get_param_values() in CEM and CMA_ES"
https://github.com/rlworkgroup/garage/blob/2c23600100250344bf0d9a36f89f47d5e944c9e7/src/garage/np/algos/cem.py#L63
https://github.com/rlworkgroup/garage/blob/2c23600100250344bf0d9a36f89f47d5e944c9e7/src/garage/np/algos/cma_es.py#L43

`get_param_values()` requires `LocalTFRunner.initialize_tf_vars()`, which is currently called in Runner's `setup()`. This means current examples and tests of CEM anad

[2019-08-13 19:01] zhanpenghe commented on #841
Hmm lets not moving `initialize_tf_vars` since most of the models are not initialized at that stage.

[2019-08-14 17:54] zequnyu commented on #841
Are you suggesting we should do something like this in algo, for example CEM? @zhanpenghe

[code]

[2019-08-14 21:17] zhanpenghe commented on #841
Yes.

[2019-08-17 13:36] zhanpenghe opened #843 "Add agent_info to PyTorch policies"
Currently, some policies are following the tf tree and `get_actions` returns actions and agent_infos while some of them don't. I think we should just unify this and just follow the tf tree. Can one of you take over this? @lywong92 @yonghyuc

[2019-08-17 17:28] lywong92 commented on #843
Sure, I can work on it.

[2019-08-17 18:33] zhanpenghe commented on #843
Great, thank you! @lywong92

[2019-08-20 01:35] gitanshu commented on #758
Closed by #844

[2019-08-20 01:35] #758 closed

[2019-08-20 01:36] gitanshu commented on #35
Close by #834

[2019-08-20 01:36] #35 closed

[2019-08-22 17:18] #837 closed

[2019-08-22 19:06] #409 closed

[2019-08-23 09:46] timediv opened #847 "Garage does not run without display (pyglet)"
Not all use cases require environment rendering. Can we get rid of this default import?

[code]

[2019-08-23 17:43] ryanjulian commented on #847
Good catch. FWIW you can always avoid this using our pre-built Docker container with a fake display
[code]

@gitanshu can you make this import conditional on actually needing to access these classes?

[2019-08-29 20:39] zhanpenghe opened #853 "Make snapshot_config a required argument"
Currently, if we don't pass a `snapshot_config` to the runner like this (sorry, I am an old school garage user so I did not catch up with the snapshotter):
[code]
the snapshots and log data could locate at different locations SILENTLY when we specify a log directory or log prefix.

I suggest that we should make this argument (i.e. the `snapshot_config` of a local runner) required so doing this wil

[2019-08-29 20:41] ryanjulian commented on #853
This should either be required, or the default behavior should be sane. It should not locate the logs at different positions.

[2019-08-29 20:42] zhanpenghe commented on #853
@ryanjulian I second this too.

[2019-08-29 21:40] zequnyu commented on #853
I agree it is dangerous to have a silent bug: https://github.com/rlworkgroup/garage/pull/699#issuecomment-507883750.

It is interesting to force `snapshotter` to use `dower.logger` directory, since as I studied the source code, it's kind of hard to get `log_dir` from `logger`. For this, we might need to refactor logger's API? @zhanpenghe Also I think this way we need to think more about `snapshott

[2019-08-30 21:37] Chunpai opened #856 "cannot install garage via pip"
cannot find garage via pip

[2019-08-30 21:43] Chunpai opened #857 "follow the instruction to install garage, but failed"
1. I cannot find the garage via pip
2. if python setup.py install, then I cannot import garage.tf.policies, the **Illegal instruction (core dumped)** occurs, which seems the problem of tensorflow.
3. I tried to downgrade the tensorflow version, but still did not work

Could anyone help here ?

[2019-08-30 22:08] Chunpai commented on #857
I think it is problem of my cpu.

[2019-08-30 22:08] #857 closed

[2019-08-30 23:23] ryanjulian commented on #856
Our apologies -- garage is not continuously-deployed to PyPI yet. We are working on some changes (even today) to make that possible.

Until then, you should be able to install garage using pip directly from the github repo, rather than from PyPI.

[2019-08-30 23:23] #856 closed

[2019-08-30 23:24] zequnyu commented on #790
Closed by #825.

[2019-08-30 23:24] #790 closed

[2019-08-30 23:35] krzentner commented on #856
Hello Chunpai. Thanks for your interest in garage. We do not yet have a release of garage on PyPI, so `pip install garage` is not yet possible (although we intend it to be soon). However, garage can be installed by cloning this repo, and then running `pip install numpy==1.14.5 && pip install .` in it.

In the near future, we would like it be possible to install garage with `pip install garage`.

[2019-09-04 00:20] krzentner commented on #509
This is fixed by #858

[2019-09-04 00:20] #509 closed

[2019-09-04 21:56] zequnyu commented on #853
Close by #860.

[2019-09-04 21:56] #853 closed

[2019-09-05 12:48] #800 closed

[2019-09-06 09:41] cli0 opened #862 "[Issue] Can't install garage with pip"
Everytime I try to install it using pip I get

[code]

Even in a virtualenv it does not get installed when I add it to the requirements file. The numpy requirement is fulfilled. My OS is Ubuntu 18.04, I am using Python 3.6.

[2019-09-06 17:59] zequnyu commented on #862
per #856.

[2019-09-06 18:45] ryanjulian commented on #862
Hi @cli0 -- thanks for this report. We're aware of the issue and are just finishing clearing up blockers which will allow us to distribute on pip.

i.e. we've recently closed these bugs:
#848 #861 #849 #828

We'll keep this issue open until the pip distribution is fully posted.

[2019-09-06 21:00] ilinojkovic opened #863 "Average Return per each step"
Currently, in several (if not all) algorithms, `AverageReturn` seen in progress file is the sum of undiscounted rewards averaged by number of rollouts per policy update/iteration. However, this metric is dependent on the number of steps per each of the rollouts, and I cannot seem to find a way to average over those as well during training, without changing the `garage` code itself. Meaning, I'm lo

[2019-09-11 01:01] krzentner commented on #31
More general sampler refactoring should have a separate issue.

[2019-09-11 01:01] #31 closed

[2019-09-11 01:03] krzentner opened #865 "Eliminate unnecessary worker startup"
There's a bunch of places where `stateful_pool`'s workers get initialized. They should actually only get initialized when `BatchSampler` (or `ParallelVecEnvExecutor`) need them.

[2019-09-11 01:05] krzentner opened #866 "Design a new sampler API"
We would like a new sampler API that:
- It isn't responsible for tf.Session initialization (instead, the Runner tells it how to initialize its workers).
- How the sampler receives an environment and policy are explicitly part of the API.
- How the policy is updated is explicitly part of the API.
- The sampler isn't responsible for maintaining a replay buffer.
- The algorithm controls whether it kn

[2019-09-11 21:19] naeioi commented on #865
To be more specific, `stateful_pool` is only used in parallel samplers, so the `singleton_pool` created whenever `stateful_pool` is imported is not necessary. The instance should be managed by the sampler.

Also, I think the name of `BatchSampler` is misleading. The name suggests it works by sampling batches serially while it is actually a parallel sampler.

[2019-09-12 20:49] ryanjulian opened #867 "Add all examples to the testing pipeline"
It's important all of our examples run and stay up-to-date with the code. The best way to do this is to have them in the testing pipeline.

Since examples typically run much longer than tests, we will need a way to override the number of iterations an example runs (a command line flag, for instance).

[2019-09-12 22:05] ryanjulian opened #871 "Implement MT-PPO"

[2019-09-12 22:06] ryanjulian opened #872 "Implement MT-TRPO"

[2019-09-12 22:06] ryanjulian opened #873 "Implement MT-SAC"

[2019-09-12 22:06] ryanjulian opened #874 "Implement RL2"

[2019-09-12 22:09] ryanjulian opened #875 "Implement Task Embeddings"
See https://openreview.net/forum?id=rk07ZXZRb and https://github.com/ryanjulian/embed2learn

[2019-09-12 22:10] ryanjulian opened #876 "Implement PEARL"
See https://github.com/katerakelly/oyster and https://arxiv.org/abs/1903.08254

[2019-09-12 22:15] ryanjulian opened #877 "Add multi-env support to the sampler API"

[2019-09-13 19:46] #128 closed

[2019-09-13 19:47] #643 closed

[2019-09-13 19:49] ryanjulian commented on #822
Is this still a problem?

[2019-09-13 19:55] krzentner commented on #822
It doesn't seem to be. I definitely observed this happening on a few builds when we switched things over, but I haven't seen it since. It might just have been an older version of pytest or something.

[2019-09-13 19:55] #822 closed

[2019-09-13 20:02] ryanjulian opened #879 "Create a nightly PyPI release"

[2019-09-15 17:47] ahtsan commented on #521
This is no longer needed since `DeterministicMLPPolicy` will no longer exist and be replaced by `ContinuousMLPPolicy`, which is already tracked by #526

[2019-09-15 17:49] #521 closed

[2019-09-16 22:07] #843 closed

[2019-09-16 22:15] ahtsan opened #882 "Refactor CategoricalMLPRegressor to use garage.tf.Model"

[2019-09-16 22:19] ahtsan opened #883 "Refactor ContinuousMLPBaseline & ContinuousMLPRegressor to use garage.tf.Model"
- ContinuousMLPBaseline
- ContinuousMLPRegressor

[2019-09-17 22:15] naeioi opened #886 "Inconsistent flattening for dict observation between on- and off-policy samplers"
`OffPolicyVectorizedSampler` flattens a dict observation while other samplers do not. This breaks `ContinuousMLPPolicyWithModel` who assumes observation is provided as it is, at this line https://github.com/rlworkgroup/garage/blob/7bb784efdefc7fd8f160718c1d989144ba91e07f/src/garage/tf/policies/continuous_mlp_policy_with_model.py#L150

This issue can be reproduce by running `examples/her_ddpg_fetch

[2019-09-17 22:21] naeioi opened #887 "HerReplayBuffer is not pickable"
`HerReplayBuffer` is not pickable because it saves a local (nested) function. This breaks any algorithm that has `HerReplayBuffer` as its replay buffer, e.g. `examples/her_ddpg_fetchreach.py`

[2019-09-17 23:29] krzentner commented on #886
Fixing this is probably closely related to my current effort to refactor the sampler API, since I'm attempting to make all samplers us the same rollout (and hopefully, same post-processing) functions.

It's also worth mentioning that I'm trying to replace use of the current replay buffer with `PathBuffer`, which is simpler, but more capable and fixes a few difficult to fix bugs in the current repl

[2019-09-18 22:08] #528 closed

[2019-09-25 01:24] ryanjulian opened #894 "Try pre-commit update meta-hook and auto-install features"
See discussion here: https://github.com/rlworkgroup/garage/pull/889#issuecomment-534775195

[2019-09-25 01:32] ryanjulian commented on #894
Also: Add comments reminding people to update setup.py/.pre-commit-config.yaml together.

[2019-09-25 19:10] #805 closed

[2019-09-27 15:13] #526 closed

[2019-09-29 23:45] zequnyu commented on #882
Closed by #893.

[2019-09-29 23:45] #882 closed

[2019-09-30 00:52] ryanjulian commented on #883
closed by #898

[2019-09-30 00:52] #883 closed

[2019-09-30 00:53] ryanjulian commented on #522
closed by #897

[2019-09-30 00:53] #522 closed

[2019-09-30 19:04] ryanjulian opened #902 "Add tests and documentation for torch/VPG"
* Torch VPG coverage is 18%. This needs to be raised to 95%+
* loss_function_utils.py lacks complete docstrings.

[2019-10-01 21:21] yonghyuc opened #904 "Add PPO in PyTorch"
Implement the PPO algorithm in PyTorch
Create a task with PPO and run benchmark on it

[2019-10-02 08:11] #529 closed

[2019-10-02 08:11] naeioi commented on #529
Closed by #890

[2019-10-02 21:35] ryanjulian opened #907 "Merge benchmark script for ContinuousMLPQFunction"
Please add the benchmark script used for https://github.com/rlworkgroup/garage/pull/892 to tests/benchmarks (omitting, of course, the now-deleted primitive).

[2019-10-02 21:36] ryanjulian opened #908 "Merge benchmark script for ContinuousMLPPolicy"
Please add the benchmark script used for https://github.com/rlworkgroup/garage/pull/888 to tests/benchmarks (omitting, of course, the now-deleted primitive).

[2019-10-02 21:37] ryanjulian opened #909 "Merge benchmark script for GaussianLSTMPolicy"
Please merge the benchmarks script used for https://github.com/rlworkgroup/garage/pull/878 into tests/benchmarks (omitting, of course, the now-deleted primitive)

[2019-10-02 21:39] ryanjulian opened #910 "Merge benchmark scripts for GaussianCNNRegressor/Baseline"
Please merge the benchmark scripts used for https://github.com/rlworkgroup/garage/pull/897 into tests/benchmarks (omitting, of course, the now-deleted primitive).

[2019-10-02 21:41] ryanjulian opened #911 "Merge benchmark scripts for ContinuousMLPBaseline"
Please merge the benchmark script used for https://github.com/rlworkgroup/garage/pull/898 into tests/benchmarks (omitting, of course, the now-deleted primitive).

[2019-10-02 21:42] ahtsan opened #912 "Add benchmarking environments for discrete action space to README"
Please merge the README in https://gist.github.com/nish21/760cbdafcbb2838f7707e1edea6a1709
into master, so we have a single source of reference.

Also please add the set of benchmarking environments for discrete action space (both pixel/non-pixel envs) to the README. You can refer to https://github.com/rlworkgroup/garage/pull/906 for the set of environments suggested by @ryanjulian

[2019-10-02 21:43] ryanjulian opened #913 "Merge benchmark scripts for GaussianMLP*"
Please merge the benchmark scripts used for https://github.com/rlworkgroup/garage/pull/855 into tests/benchmarks (omitting, of course, the now-deleted layers-based primitive).

[2019-10-02 21:45] ryanjulian commented on #912
I agree -- perhaps the best place for those for now is in a README in tests/benchmarks? We can link to that file from a new section of CONTRIBUTING, describing how we test new algorithms/primitives.

[2019-10-02 21:46] ahtsan commented on #912
Absolutely

[2019-10-02 21:47] ryanjulian commented on #912
I guess we need 4 benchmarks sets:

| Observations/Actions | Discrete | Continuous |
| --- | --- | --- |
| Pixel | Atari1M | ??? |
| State | ??? | MuJoCo1M |

[2019-10-02 21:52] ahtsan commented on #912
One debate is should we use the same set of pixel envs for on-policy/off-policy algorithms? Some of us tried running PPO against Atari environments and it doesn't work well. Probably we need much longer training time / hyperparameter tuning.

Maybe wrapping a set of easier discrete action space environments (Cartpole / Acrobot / MountainCar / LunarLander) is efficient for on-policy? And we keep At

[2019-10-02 21:58] ryanjulian commented on #912
i don't think it's worth it to try on-policy + Atari -- see my response to Linda's PR for alternatives (including your suggestion)

[2019-10-02 22:00] ahtsan commented on #912
Yes, so we should have

| Observations/Actions | Discrete | Continuous |
| --- | --- | --- |
| On-policy & Pixel | ??? | ??? |
| Off-policy & Pixel | Atari1M | ??? |
| State | ??? | MuJoCo1M |

[2019-10-04 06:57] utkarshjp7 commented on #525
Fixed by #903

[2019-10-04 06:57] #525 closed

[2019-10-08 17:58] #520 closed

[2019-10-08 17:58] nish21 commented on #520
Closed by #916

[2019-10-08 18:40] ryanjulian opened #923 "Merge benchmark script for CategoricalGRUPolicy"
Please add the script used for benchmarking #916 into tests/benchmarks.

[2019-10-08 21:14] ryanjulian opened #925 "Remove TF layers library"
Remove:
* `garage.tf.core.layers`
* `garage.tf.core.network`
* `garage.tf.core.layers_powered`

[2019-10-08 21:16] yonghyuc opened #926 "Fix non-linearity function of multi_headed_mlp_module"

[2019-10-08 21:16] ryanjulian opened #927 "Remove Parameterized"
Remove:
* `garage.tf.core.parameterized`
* `garage.core.parameterized`
* Replace `garage.tf` base classes with base2 versions

[2019-10-08 21:17] ryanjulian commented on #927
oops, dupe of #739

[2019-10-08 21:17] #927 closed

[2019-10-08 21:17] ryanjulian commented on #739
Remove:
* `garage.tf.core.parameterized`
* `garage.core.parameterized`
* Replace `garage.tf` base classes with base2 versions

[2019-10-09 21:37] ryanjulian commented on #524
fixed by #891

[2019-10-09 21:37] #524 closed

[2019-10-11 19:43] #698 closed

[2019-10-11 23:40] zequnyu commented on #701
Do we still have other work to do apart from #840? @ryanjulian

[2019-10-12 00:55] ryanjulian commented on #701
Hmm actually no. I looked and I think this is about as minimal as it gets right now. Good work everyone!

[2019-10-12 00:55] #701 closed

[2019-10-15 00:10] #527 closed

[2019-10-15 21:02] ryanjulian opened #934 "Clean up TensorFlow warning noise in the CI"
We should either fix these (where easy) or find a way to suppress them to 1 message per invocation.

[2019-10-16 11:54] #913 closed

[2019-10-16 11:56] ahtsan commented on #907
close by #931

[2019-10-16 11:56] #907 closed

[2019-10-16 11:57] ahtsan commented on #909
close by #933

[2019-10-16 11:57] #909 closed

[2019-10-16 15:18] ryanjulian opened #936 "tests.garage.torch.algos.TestDDPG is flaky"
See https://travis-ci.com/rlworkgroup/garage/jobs/246226467#L908

You probably just need to lower the threshold, but you might want to take a look at recent changes just to make sure there's no potential culprits which could have lowered performance.

[2019-10-16 20:59] ryanjulian commented on #794
closed by #906

[2019-10-16 20:59] #794 closed

[2019-10-16 21:00] ryanjulian commented on #519
closed by #906

[2019-10-16 21:00] #519 closed

[2019-10-17 22:47] ahtsan opened #941 "Move input flattening to primitives"
Currently it is done in algorithms, but it makes more sense for primitives to do it.
Reference: https://github.com/rlworkgroup/garage/blob/master/src/garage/tf/algos/batch_polopt.py#L145

[2019-10-18 02:41] nish21 commented on #925
Closed via #939

[2019-10-18 02:41] #925 closed

[2019-10-18 23:56] ahtsan commented on #42
@ryanjulian Is it done and closed by #939 ?

[2019-10-18 23:57] ahtsan commented on #60
@utkarshjp7 Is it done and closed by #458 ?

[2019-10-18 23:58] utkarshjp7 commented on #60
Yes.

[2019-10-18 23:58] #60 closed

[2019-10-22 00:24] zequnyu opened #948 "Remove n_epoch_cycles from the codebase."
After some discussion with KR and Keren, we aim to remove `n_epoch_cycles` completely from the codebase.

The steps:

1. delete `n_epoch_cycles` from both Algorithms and Runner
2. multiply the number of epochs by the old `n_epoch_cycles` values in the examples
3. rewrite the cem and cma-es train() loops using `n_samples` to iterate
4. possibly refactor Runner accordingly

Please feel free to add y

[2019-10-22 00:58] gitanshu opened #951 "Revert conda to latest version when it is fixed"
This issue depends upon: https://github.com/conda/conda/issues/9345

Do this for master (#947), release 2019.02 (#950) and release 2018.10 (#949)

[2019-10-22 01:26] ryanjulian commented on #948
This sounds great. I look forward to reviewing it.

Will DQN and/or DDPG retain some hyperparameter similar to n_epoch_cycles?

[2019-10-22 18:21] #129 closed

[2019-10-22 18:21] #132 closed

[2019-10-22 18:30] #910 closed

[2019-10-22 18:30] #908 closed

[2019-10-23 02:57] naeioi commented on #948
@zequnyu Regarding your 3rd step. If epoches is replaced with `epoch * n_epoch_cycles`, the benchmark will give a result significantly different to baselines. I believe the right way to do this is to replace `n_epoch_cycles` with a new `steps_per_epoch` in DDPG and TD3.

I want to add some context and break this into several tasks.

**What is `n_epoch_cycles`?**
It is defined as the number of batc

[2019-10-23 17:04] ryanjulian commented on #948
@krzentner and @zequnyu

Thanks for the excellent summary. You both have done a great job, and I want to make sure you know I appreciate your work on this, even though we've gone through several attempts at fixing this wort in the API.

I think what you describe is definitely an improvement over the status quo. Speaking as a maintainer, all I ask is that these hyperparameters be named consistently

[2019-10-26 00:14] gitanshu commented on #812
Closed by #889

[2019-10-26 00:14] #812 closed

[2019-10-29 17:29] ryanjulian commented on #951
@gitanshu is this fixed?

[2019-10-29 17:29] #739 closed

[2019-10-29 17:29] #42 closed

[2019-10-29 17:34] #934 closed

[2019-10-29 18:04] #138 closed

[2019-10-29 18:04] #139 closed

[2019-10-29 18:10] ryanjulian commented on #934
This was fixed by #953

[2019-10-29 18:13] ryanjulian commented on #872
fixed by #946

[2019-10-29 18:13] ryanjulian commented on #871
Fixed by #946

[2019-10-29 18:13] #871 closed

[2019-10-29 18:14] ryanjulian commented on #873
Fixed by #946

[2019-10-29 18:14] #873 closed, assigned to utkarshjp7

[2019-10-29 18:16] #718 closed

[2019-10-29 18:22] ryanjulian commented on #317
this is provided by gym now

[2019-10-29 18:22] #317 closed

[2019-10-29 18:23] ryanjulian commented on #127
This would add pixel support for DDPG and SAC

[2019-10-29 18:24] ryanjulian commented on #127
This would add pixel support to DDPG

[2019-10-29 18:27] ryanjulian commented on #202
This is implemented in torch in #807 -- we can revisit if we would like a TF version.

[2019-10-29 18:27] #202 closed

[2019-10-29 18:31] ryanjulian commented on #480
This doesn't seem to be used by anything. We can always revisit if it's used for some method.

[2019-10-29 18:31] #480 closed

[2019-10-29 18:37] ryanjulian commented on #831
Can you clarify the title of this issue?

[2019-10-29 18:41] ryanjulian commented on #863
@ilinojkovic In RL literature, "return" is defined as the cumulative sum of undiscounted rewards. AverageReturn is the average of these across rollouts in a batch.

If you would like to add an AverageRewards field, I suggest you do it in the `process_samples` method of the algorithm(s) of your choice. We'd happily accept a PR for this if it were applied uniformly across all algorithms.

https://gi

[2019-10-29 18:41] #863 closed

[2019-10-29 18:42] ryanjulian commented on #736
@zequnyu will this be covered by your new PR to remove n_epoch_cycles?

[2019-10-29 21:39] #936 closed

[2019-10-30 20:06] #923 closed

[2019-10-30 21:48] #784 closed

[2019-10-31 00:28] ryanjulian opened #978 "Update documentation for running experiments"
@zhanpenghe pointed out that seems like the documentation for running experiments has drifted.

Please update https://garage.readthedocs.io/en/latest/user/experiments.html (source: https://github.com/rlworkgroup/garage/blob/master/docs/user/experiments.rst) to match reality.

[2019-10-31 07:03] #951 closed

[2019-10-31 08:45] #531 closed

[2019-10-31 21:40] #576 closed

[2019-10-31 21:46] zequnyu commented on #978
Closed by #983.

[2019-10-31 21:46] #978 closed

[2019-11-01 19:26] ryanjulian commented on #738
closed by #982

[2019-11-01 19:26] #738 closed

[2019-11-01 20:55] ryanjulian opened #985 "tests.garage.torch.algos.TestVPG is flaky"
[code]

[2019-11-05 03:08] #742 closed

[2019-11-05 04:11] ryanjulian opened #993 "Update citation instructions in the docs"

[2019-11-05 04:19] #993 closed

[2019-11-05 09:16] kishanpb opened #997 "error occured while executing trpo_swimmer.py"
<img width="602" alt="Screen Shot 2019-11-05 at 3 12 06 AM" src="https://user-images.githubusercontent.com/9605238/68194179-30b87a00-ff7a-11e9-8022-f00d4b7fdc2a.png">

<img width="610" alt="Screen Shot 2019-11-05 at 3 08 18 AM" src="https://user-images.githubusercontent.com/9605238/68194035-db7c6880-ff79-11e9-9fd4-0a8d9a664fc5.png">

Does anyone know how to fix this issue? FYI, trpo_cartpole.py wo

[2019-11-05 18:34] ryanjulian commented on #997
@zequnyu can you take a look?

[2019-11-05 18:49] zequnyu commented on #997
I can’t reproduce the issue from running the example. vec_env is initialised in start_worker() and it seems to me that you environment is not properly set. Maybe try to update to the latest version to see if it works?

[2019-11-05 18:51] ryanjulian opened #998 "Re-orient all logging and setup around total samples collected"
Today:
* Logged scalars (e.g. to TensorBoard) all use `Itr` as their x-axis. This makes comparing algorithms with different training procedures and batch sizes difficult.

After this issue is fixed:
* All logged scalars use the total environment samples collected so far as their x-axis
* We could also (optionally) include logs using Itr or the total number of gradient steps (under a different pref

[2019-11-05 19:02] ryanjulian commented on #998
Steps to achieve this:
1. Ensure all algos (or the runner, or the sampler) are logging the total number of environments steps taken so far.
1. Allow `dowel.TensorBoardOutput` to accept one or more tabular keys as the x-axis, instead of assuming it's "number of times tabular.log has been called"
1. Configure our `TensorBoardOutput` to use the new option

[2019-11-05 19:19] ryanjulian commented on #997
@kishanpb I was also unable to reproduce this locally. Can you provide us with steps to reproduce your error?

Needed:
* Python version
* Environment manager (e.g. system-wide install, virtualenv, pipenv, conda, poetry, etc.)
* Steps to reproduce

[2019-11-05 19:35] #664 closed

[2019-11-05 19:35] #748 closed

[2019-11-05 19:35] #750 closed

[2019-11-05 19:35] #751 closed

[2019-11-05 20:09] kishanpb commented on #997
I am using
- Python 3.7.0,
- conda,
- tensorflow 1.13.0.rc1 (the newer version 1.16 threw an error regarding "compat.v1.")

Here is my terminal output when I ran trpo_swimmer as it is without changing the code in it.
![Screen Shot 2019-11-05 at 1 58 36 PM](https://user-images.githubusercontent.com/9605238/68242128-8ec67b00-ffd5-11e9-970b-a06955b0f656.png)

![Screen Shot 2019-11-05 at 1 59 04 PM](h

[2019-11-05 20:15] ryanjulian commented on #997
Which version of garage are you using? What is the output of `conda list`?

[2019-11-05 20:46] kishanpb commented on #997
garage is the latest version, I pulled the source before showing this output.

`conda list` is not proper I think

`(base) ece-Kalathil-MacBook-Pro:tf kishanpb$ conda list

EnvironmentLocationNotFound: Not a conda environment: /Users/kishanpb/anaconda3`

 I think I have not set the conda environment properly. Is there a documentation which I can follow to set it up?

[2019-11-05 21:30] ryanjulian commented on #997
You can install garage in your conda environment using `pip install garage` (from the internet) or `pip install -e .[mujoco]` from within the garage repository directory.

Of course, your conda environment must be active for this to work.

If `conda list` is not working, you environment may not be activated.

[2019-11-05 23:06] utkarshjp7 commented on #997
I would suggest doing a fresh installation of garage in a new conda environment.
`
conda create env -n your_env_name python=3.7
conda activate your_env_name
git clone https://github.com/rlworkgroup/garage
cd garage
pip install -e .[mujoco]
`

[2019-11-05 23:34] chuanzhengtmac24 opened #1003 ""Implementing a New Environment" tutorial is outdated"
Has any one tried the tutorial on Document for the point environment. I run the trpo_point file and it shows like this. Does anyone come up with the same issue? Thanks a lot anyways.
<img width="1177" alt="Screen Shot 2019-11-05 at 5 52 33 PM" src="https://user-images.githubusercontent.com/39918901/68255283-d57a9c00-fffa-11e9-98a6-9d8e93b1d5fe.png">

[2019-11-05 23:44] kishanpb commented on #997
@utkarshjp7 `conda env create -f environment.yml` was easier.

[2019-11-05 23:44] #997 closed

[2019-11-05 23:47] ryanjulian opened #1004 "Rename Baseline to ValueFunction"
This is more consistent with literature/less jargon-y.

[2019-11-06 00:23] kishanpb opened #1005 "example code for swimmer environment is not reaching an optimal policy"
This is final epoch values from trpo_swimmer_ray_sampler.py code:
---------------------------------------  ------------
AverageDiscountedReturn                  21.5863
AverageReturn                            40.3846
Entropy                                   2.61494
Extras/EpisodeRewardMean                 40.2554
GaussianMLPPolicy/Entropy                 2.61755
GaussianMLPPolicy/KL

[2019-11-06 00:55] ryanjulian commented on #1005
@kishanpb thanks for reporting an issue.

We takes performance very seriously. With that said, the examples are meant to be illustrations of how to use the toolkit, not fully-tuned solutions with optimal hyperparameters.

There are many reason you should expect to see a discrepancy from Duan, et al.:
* This example runs 40 optimization epochs with a batch size of 4000, for a total of 160,000 envir

[2019-11-06 00:55] #1005 closed

[2019-11-06 01:01] ryanjulian commented on #1003
@chuanzhengtmac24 It looks like that part of the documentation is out-of-date, and doesn't use the correct API for running an algorithm.

Please refer to the updated [examples](https://github.com/rlworkgroup/garage/tree/master/examples) for how to run an algorithm. Your code lacks usage of the `LocalRunner` interface, which is now required to run the examples.

I'll also caution that we haven't re

[2019-11-06 01:20] kishanpb commented on #1005
Okay, then what does the benchmark folder contain? Even they aren't tuned to reach optimality? Although I'll try tuning as well.

[2019-11-06 01:22] kishanpb opened #1007 "Question: Is Actor-Critic related algorithms being added any time in the near future?"

[2019-11-06 01:31] chuanzhengtmac24 commented on #1003
Hi,
Thanks for the reply. I used the latest example form of trpo and the latest PointEnv from the link above, but still get the same bug. Is there any hint for this? Thanks
<img width="1688" alt="Screen Shot 2019-11-05 at 8 27 47 PM" src="https://user-images.githubusercontent.com/39918901/68260509-39a55c00-000b-11ea-9204-a38af5dc9f5e.png">

[2019-11-06 01:41] ryanjulian commented on #1003
You need to wrap your example in `TfEnv` in order for it to be trainable with garage.

See https://github.com/rlworkgroup/garage/blob/master/examples/tf/ppo_pendulum.py#L28

[2019-11-06 01:45] ryanjulian commented on #1007
@kishanpb We implement DDPG in both TensorFlow and PyTorch, which is an actor-critic method. We will also be adding SAC in PyTorch shortly.

If you are referring to the A2C/A3C/ACKTR/ACER family of algorithms, we don't have anyone working on those right now. If you'd like to contribute an implementation(s), we'd love to review it.

[2019-11-06 01:45] #1007 closed

[2019-11-06 01:47] chuanzhengtmac24 commented on #1003
Thank you so much and now it works.

[2019-11-06 01:54] ryanjulian commented on #1005
`tests/benchmarks` contains comparative benchmark scripts which allow developers of the toolkit to ensure that their code changes do not compromise the performance of algorithms or algorithm components (we call those components primitives).

They do not contain tuned examples of optimal hyperparameters.

Typically these scripts are designed to run the same algorithm before and after a code change,

[2019-11-06 01:57] #1003 closed

[2019-11-06 02:06] ryanjulian commented on #997
@kishanpb that will fail if you already have an environment named `garage`, which is why utkarsh suggested the alternative.

[2019-11-06 02:07] ryanjulian commented on #379
Increasing coverage seems to have fixed this, particularly unit coverage for `ConjugateGradientOptimizer`

[2019-11-06 02:07] #379 closed

[2019-11-06 02:09] #623 closed

[2019-11-06 02:13] #743 closed

[2019-11-06 02:17] #894 closed

[2019-11-06 02:18] #902 closed

[2019-11-06 02:20] #621 closed

[2019-11-06 02:26] ryanjulian commented on #872
@utkarshjp7 or @krzentner can you fix this by adding an mt-trpo example?

[2019-11-06 02:33] kishanpb commented on #1005
@ryanjulian, thanks for the detailed explanation! Is it possible for you to include these in the docs folder? The present documentation is too minimal!

I was looking at the examples folder, just like you've provided a sim_policy.py, can you also add a reward plot script? Or, is it already available which I missed locating?

[2019-11-06 02:40] ryanjulian commented on #1005
@kishanpb we would love to have more documentation and examples.

As an open source project, we are reliant on great work and contributions from people like you to stay alive. **If you see something in the library you'd like to see improved, please feel free to add it and send a PR.** You can check out [CONTRIBUTING.md](https://github.com/rlworkgroup/garage/blob/master/CONTRIBUTING.md) for details

[2019-11-06 02:41] ryanjulian commented on #831
@avnishn is this still an issue?

[2019-11-06 02:56] avnishn commented on #831
Hi Ryan,

Yes this is still an issue, as the ray devs need to resolve an issue on their side before we can resolve our issue:

https://github.com/ray-project/ray/issues/5379

[2019-11-06 02:59] krzentner commented on #799
My immediate suspicion is that this came from sampling an empty array of observations, then trying to flatten them. I'm currently working on a fix for this case.

Having said that, this example crashes on master for a different (?) reason altogether, which appears to have something to do with the Q function changing the input dimensionality to account for the goal.

[2019-11-06 03:02] krzentner commented on #799
Here's the log on master:

[2019-11-06 03:18] kishanpb commented on #1005
Okay, I'll contribute once I am successful at implementing these. Thanks for the suggestion.

So, there's a progress.csv log file in the data folder which contains all the required data. I can write a processing script to plot the performance curves. But, what is the input to `tensorboard`?  Is it the path to this progress.csv file?

[2019-11-06 03:22] ryanjulian commented on #1005
It is the directory, exactly as I showed in the example.

You might want to take a look at garage.experiment.nb_utils for tools which help process progress.csv, thought those have not been tried in a long time and are untested.

You can also try using viskit if you'd like, thought it's not very heavily maintained. I recommend you stick to TensorBoard for now.

[2019-11-06 03:56] kishanpb commented on #1005
Okay, I'll explore. I asked this because when I ran this `tensorboard --logdir=data/local`, no plot prompted. Also, local directory consists of many experiments which I have already run, but I don't want to process every experiment which I have run until now!

[2019-11-06 05:51] utkarshjp7 commented on #872
#1010

[2019-11-06 06:51] utkarshjp7 commented on #799
There is a bug in `continuous_mlp_q_function`. We are not passing `input_include_goal` when we create clone of the object. I will create a PR to fix this.

https://github.com/rlworkgroup/garage/blob/master/src/garage/tf/q_functions/continuous_mlp_q_function.py#L133

[2019-11-06 06:52] ahtsan commented on #799
I am fixing it in #1009

[2019-11-06 07:41] ryanjulian commented on #1005
You open your web browser to `localhost:6006` to view TensorBoard. Please read the output on the terminal and also search for some examples if you need information on how to use TensorBoard.

[2019-11-06 20:26] naeioi commented on #799
@ahtsan Just want to tell you that fixing index issue is not enough to run `her_ddpg_fetchreach.py`. It has another issue with pickling, mentioned in #887 .

[2019-11-06 21:58] ryanjulian opened #1012 "Recurrent primitives assume that batch ordering is stable"
Recurrent primitives in garage assuming that vectorized batches have stable ordering and fixed sizes between calls, but this isn't documented anywhere.

I think this could lead to some really hard-to-find bugs in sampling.

See https://github.com/rlworkgroup/garage/blob/master/src/garage/tf/policies/gaussian_gru_policy.py#L249

@krzentner @avnishn @nish21 @ahtsan do you think this is worth looking

[2019-11-07 02:22] #872 closed

[2019-11-07 02:26] ryanjulian commented on #904
closed by #905

[2019-11-07 02:26] #904 closed

[2019-11-07 22:50] ryanjulian commented on #911
fixed by #996

[2019-11-07 22:50] #911 closed

[2019-11-07 22:57] ryanjulian opened #1015 "Log success rate from all algorithms (or samplers)"
We usually focus on AverageDiscountedReturn, but many RL environments use an arbitrary shaped reward (which means ADR doesn't help much) and are better measured using success rate.

Success rate is simple to calculate. If I have a batch of `paths`, then the success rate is just:
[code]
i.e. it's just the portion of paths which actually experienced a termination condition before being the end of th

[2019-11-09 01:45] naeioi opened #1016 "Remove `get_itr_snapshot` from algorithms"
`get_itr_snapshot()` in algorithms is a legacy from rllab to do snapshot. We now enforce an algorithm to be pickable, so this interface should be deprecated and should be removed from the codebase.

[2019-11-15 00:43] ryanjulian opened #1020 "PyTorch on CPU is slow"
See https://github.com/pytorch/pytorch/issues/975 for more info

PyTorch TRPO appears 50% slower than TF. Not sure about PPO, but I expect the wall-clock time gap will be the same.

To fix this issue, make PyTorch perform at least as well as TF, or confirm that we've done the best we can on CPU with PyTorch.

[2019-11-15 02:29] ryanjulian opened #1021 "Runner should log total environment steps (and other vital stats)"
This will make it easier to compute algorithm performance consistently.

[2019-11-16 18:11] ryanjulian opened #1024 "garage.torch not included in pip distribution"

[2019-11-16 18:11] ryanjulian opened #1025 "garage can't install from some pip(env) due to dm_control"

[2019-11-16 18:11] ryanjulian opened #1026 "`garage resume` is broken"

[2019-11-16 18:11] ryanjulian opened #1027 "cloudpickle version mismatch breaks plotting"

[2019-11-16 20:06] ahtsan opened #1028 "Local runner doesn't allow truncate paths when obtains samples"
OnPolicyVectorizedSampler has an argument `whole_paths` which allows us to truncate paths if number of samples generated exceeds the given size. However, such argument doesn't exist in LocanRunner thus cannot be populated to the sampler when training.

[2019-11-16 23:43] ryanjulian commented on #1028
I thought that we're planning on deleting the `whole_paths` option?

[2019-11-17 00:12] ahtsan commented on #1028
I see, then this issue can be closed.

[2019-11-17 00:12] #1028 closed

[2019-11-18 00:53] ryanjulian commented on #1025
This is fixed by upgrading pip to `>=18.1`

[2019-11-18 00:53] #1025 closed

[2019-11-18 07:07] naeioi commented on #1020
The issue you linked from pytorch was fixed quite a while ago. I think if garage's pytorch is slower than TF then most likely it has something to do with our implementation.

@lywong92 Since you added pytorch DDPG and PPO, I want to know if you have any observation on performance against TF? So we can know if this has something to do with pytorch in general or just TRPO itself.

[2019-11-19 00:36] ryanjulian opened #1033 "Backport #1009 to release-2019.10"

[2019-11-19 00:56] ryanjulian opened #1034 "LocalRunner opens *many* plotter windows"
Steps to reproduce:
* Open `examples/tf/trpo_cartpole.py`
* Set `plot=True` on both `runner.train` and `run_experiment`
* Run the example
* Watch as a new plotter window open after each episode. The inactive windows also appear to be orphan processes.

[2019-11-19 01:23] #1026 closed

[2019-11-19 01:24] #1027 closed

[2019-11-19 03:54] ryanjulian opened #1035 "Plotting is broken on MacOS"

[2019-11-19 03:54] ryanjulian opened #1036 "`garage resume` may be broken on MacOS"

[2019-11-19 04:19] #1024 closed

[2019-11-19 17:45] zequnyu commented on #1034
I'll look into it.

[2019-11-19 18:30] ryanjulian opened #1039 "pipenv install is broken on macOS"

[2019-11-19 18:44] #1033 closed

[2019-11-19 18:59] ryanjulian opened #1040 "tests.torch.algos.TestDDPG is flaky"

[2019-11-19 18:59] ryanjulian commented on #926
Fixed by #928 and #1038

[2019-11-19 19:00] #926 closed

[2019-11-19 19:00] ryanjulian commented on #886
@ahtsan did you fix this?

[2019-11-19 19:01] ryanjulian commented on #799
@ahtsan did you fix this?

[2019-11-19 19:09] ryanjulian commented on #1034
can you also look at #354 while you're at it?

[2019-11-19 19:10] ryanjulian opened #1041 "Add new Getting Started tutorial to documentation"

[2019-11-19 19:18] ryanjulian opened #1042 "Add a conda package"

[2019-11-19 19:27] ahtsan commented on #886
No I didn't. Currently in `get_actions()`, different policies have slightly different ways to handle. I don't have an exact answer for the following question -- Should we make policies flatten observations, except images?

Also we are unflattening the actions output inside policies.
https://github.com/rlworkgroup/garage/blob/master/src/garage/tf/policies/continuous_mlp_policy.py#L129
Why do we do

[2019-11-19 19:30] ryanjulian commented on #886
I don't think there are many logical answers for why we do some of these things.

We are still working on getting the data API consistent among all the algos and primitives.

@krzentner do you think it would be helpful or overkill to define some types like `Episode` or `EpisodeBatch`?

[2019-11-19 19:45] ryanjulian opened #1045 "Move public utils functions into module context"
Some guiding principles
* Public utilities should be available in the relevant package without importing `utils` module (e.g. `from garage.torch.algos import compute_advantages` rather than `from garage.torch.algos.loss_function_utils import compute_advantages`
* Private utilities may also be made available this way
* Utilities should be placed in the smallest package scope which contains all of t

[2019-11-19 19:50] ryanjulian opened #1046 "Move base classes into the module contexts"
We would like the fundamental APIs to be in their outermost-possible package scope, rather hand hiding them in module named `base.py`

For instance, instead of:
[code]

we would see
[code]

APIs to make this change on:
* [ ] `garage/replay_buffer/base.py`
* [ ] `garage/torch/policies/base.py`
* [ ] `garage/sampler/base.py`
* [ ] `garage/np/q_functions/base.py`
* [ ] `garage/np/algos/base.py`
* [ ]

[2019-11-19 19:51] ryanjulian opened #1047 "Remove TfEnv, silently wrap with GarageEnv"
* Remove TfEnv and unify it with GarageEnv
* Silently wrap environments in LocalRunner, rather than requiring it in launchers

[2019-11-19 19:53] ryanjulian opened #1048 "Rename LocalRunner to Trainer, move out of garage.experiment"
What we originally named Runner (and LocalRunner) has evolved into more of a trainer interface. This is great, but that means it doesn't really belong in `garage.experiment` anymore.

I suggest we rename the API to Trainer and move it to `garage.trainers`. It would be nice if we could also unify the Trainer for torch/tf/numpy.

[2019-11-19 19:55] ryanjulian opened #1049 "Replace run_experiment with a decorator"
@krzentner will furnish more details on the design here

[2019-11-19 21:17] krzentner commented on #1049
We have a large number of requirements we would like our experiment interface to have:
 - It should naturally capture what we think of as an "experiment" - it should have a name, parameters, and manage the life cycle of related objects. In python, the natural way of specifying a "thing with parameters" is a function. Functions are also fairly natural ways of specifying life cycles, and have names.

[2019-11-19 21:24] ryanjulian commented on #1049
this looks great

some people like to name their experiment directories with their hyperparams (because tensorboard support is so poor for this). we might be able to add an option to slugify a summary of the hyperparams and use it as a post-fix on the name.

e.g. from the example

[code]

[2019-11-19 22:17] ahtsan commented on #799
I am fixing this, will have a PR up soon

[2019-11-19 22:24] yonghyuc commented on #985
fixed this issue by changing the code " > 0 "

[2019-11-19 22:25] yonghyuc opened #1050 "Refactor local_runner"
Refactor local_runner to have simpler structure and easy to understand

[2019-11-19 22:29] ryanjulian commented on #985
Can you please make the bound much tighter than this? Also, don't close the issue without submitting the fix to the repository.

[2019-11-19 22:29] ryanjulian commented on #1050
Can you please be more specific with your suggested improvements?

[2019-11-19 22:43] yonghyuc commented on #985
Maybe I can put 30 or 35 instead of 0, but I am not sure what is the tighter bound which is not failed regardless of the seed or any other (not related to implementation of the algorithm) reasons.
Do you have any good idea for the number?

[2019-11-19 22:44] yonghyuc commented on #985
And I already changed the line in other PR (#924)

[2019-11-19 23:02] ryanjulian commented on #985
you need to find a stable number. perhaps run your test 10 times and see what the minimum you get is?

[2019-11-20 22:01] ryanjulian opened #1057 "Define TrajectoryBatch and SampleBatch data structures"

[2019-11-20 22:03] lywong92 commented on #1020
I didn't pay too much attention on the actual time it took to run DDPG in torch vs tf. Are we comparing the total time it takes to run the algorithms with the same parameters here?

[2019-11-21 22:26] ryanjulian opened #1062 "Use new optimizer_args interface for tf and np algorithms"
See #1030 for details.

[2019-11-22 12:11] Maltimore opened #1067 "Cloudpickle version issue?"
I tried to install garage into a clean conda environment (in fact, I tried three separte clean envs, once with python 3.5, 3.6 and 3.7, same results everywhere).

Then the only thing I do is "pip install garage". It downloads a bunch of packages but in the end I get:

I used pipdeptree to see which packages depended on cloudpickle, and it seemed to be only garage and tensorflow-probability:

[pipd

[2019-11-22 20:52] ryanjulian commented on #1067
pip doesn't doesn't solve for a stable set of dependencies. To get that feature, you need to use pipenv, conda, or poetry.

Which operating system are you using? I have seen this make uninstalls on pipenv+MacOS unsuccessful.

[2019-11-22 21:43] #1050 closed

[2019-11-22 23:34] naeioi commented on #1016
Closed by #1054

[2019-11-22 23:34] #1016 closed

[2019-11-25 13:14] Maltimore commented on #1067
I tried using conda with

`conda install garage`

but there's no garage package on conda.

Also, the recommended way to install garage via conda (https://garage.readthedocs.io/en/latest/user/installation.html) is:

`conda activate myenv
pip install garage`

but that's when above described error occurs.

I'm using ubuntu 18.04.

[2019-11-26 03:37] #799 closed

[2019-11-26 13:27] surbhi1944 opened #1071 "Calculation"
How can i estimate total time steps when do training. As in this repository we are passing number of epochs.
runner.train(n_epochs=500,n_epoch_cycle=1000)

But most of the research papers reflects training results in time steps.

Also if i want to train a model for say 5 million time steps. Then how can i set different variables this?

[2019-11-26 16:36] ryanjulian commented on #1071
Thanks for the question. We are working on making this simpler in garage (e.g. you can track #998).

We would love your help making the logging more consistent, if you're interested.

You can always examine the `TotalEnvSteps` variable in logs (e.g. in `data/local/my_experiment/progress.csv` or TensorBoard). Currently TensorBoard logs use `n_epochs` as the x-axis, but we're working on changing tha

[2019-11-26 16:36] #1071 closed

[2019-11-26 16:49] ryanjulian commented on #1067
@Maltimore you're correct, there is no conda-native package for garage. If you'd like to see one, you can track #1042 or contribute a package yourself. I'm happy to code review for it.

Note that the latest release of garage on pip (v2019.10.0) has a few bugs. We will release a maintenance release (v2019.10.1) at the end of this month. You can track the flaws that have been fixed by looking at [Gi

[2019-11-26 17:02] ryanjulian commented on #799
@13331151 let us know if you find any more issues!

[2019-11-26 17:02] #985 closed

[2019-11-26 17:10] Maltimore commented on #1067
Thanks for the extended answer!

I think there are several possible workarounds for this, for instance I solved it by manually installing cloudpickle==1.1.1 manually and afterwards installing garage with pip. It worked and gave no error messages.

The reason I created the issue was only to point out that this should still be fixed, didn't know it was on the radar.

[2019-11-26 17:10] #1067 closed

[2019-11-26 17:18] ahtsan commented on #887
closed by #1060

[2019-11-26 17:18] #887 closed

[2019-11-26 19:08] ahtsan commented on #694
Should it be `tfp.distributions.OneHotCategorical`?

[2019-11-26 19:25] ryanjulian commented on #694
You are the expert here.

[2019-11-26 20:38] zequnyu opened #1076 "Can't initialize parallel_sampler after tf-session setup"
If we move `parallel_sampler` initialization anywhere after `Runner.__init__()` (before session setup), this test will fail:
https://github.com/rlworkgroup/garage/blob/c610192bb9f35d183edcf2f41667578716e133cc/tests/garage/sampler/test_sampler.py#L30

Error message I got was:
[code]

[2019-11-26 20:38] zequnyu commented on #1076
@krzentner

[2019-11-26 20:40] zequnyu commented on #1076
@naeioi Would you comment on this? KR wants more investigation.

[2019-11-26 21:32] krzentner commented on #1076
Okay, I looked into this a little bit more, so I think I understand now why it's hard.

We'll just leave this alone for now. Perhaps we'll move to TensorFlow 2 before it's worth fixing.

[2019-11-26 22:58] naeioi commented on #1076
Do you have a reproducer I can try? @zequnyu

[2019-11-27 03:37] zequnyu commented on #1076
This is not a bug, it just demonstrates the difficulty to initialize parallel_sampler after tf-session initialization. To reproduce this, move this https://github.com/rlworkgroup/garage/blob/556dc3a12c68a3f1f2431523e2ee258893cdb909/src/garage/experiment/local_runner.py#L123

to `runner.setup()`.

[2019-11-27 07:02] surbhi1944 opened #1077 "Too less avg_retrun"
Formula for off_policy_method:

total_timeseteps= n_epochs * n_epoch_cycles * batch_size

then if
n_epochs=1400
n_epoch_cycles=20
batch_size=64
min_buffer_size=10^6
then total_timesteps=1400 * 20 * 64=1,792,000

I obtained the graph as shown in figure for DDPG_Walker2d-v3. It is showing very less average return. But most of the research papers shows ~2500 average_return on 1 million timesteps. How

[2019-12-03 00:03] ryanjulian opened #1080 "Make tensorflow and tfp an optional dependency"

[2019-12-03 00:03] ryanjulian opened #1081 "Make torch and torchvision and optional dependency"

[2019-12-03 00:03] ryanjulian opened #1082 "Make ray an optional dependency"

[2019-12-03 01:39] avnishn opened #1084 "Add support for evaluation sampling"
Currently, garage does evaluations for off-policy algorithms based on previously collected samples (what @ryanjulian calls the ring buffer I believe) however, this doesn't allow for deterministic evaluation of policies. I propose we have a **deterministic** evaluation sampler that runs in parallel to our off-policy experiments in order to optimize for speed while still allowing for the most accura

[2019-12-03 01:47] ryanjulian commented on #1084
Logging with the ring buffer is perfectly deterministic (assuming you don't use an exploration policy), but it will report lagging peformance indicators.

[2019-12-03 02:14] avnishn commented on #1084
Does garage have an option to make rollouts deterministic? I haven't seen one. Perhaps we should add this if it does not exist

[2019-12-03 02:24] ryanjulian commented on #1084
Yes. Look at the `rollout` function.

[2019-12-03 18:58] avnishn commented on #1084
I'm thinking of taking the rollout function and using it to build a generator styled single step sampler .

Also, rollout has a deterministic option, however the samplers we provide don't have an option to collect samples of deterministic actions. Doesn't that mean that the samples we currently do evaluation are based on actions that were sampled from a random distribution. Wouldn't that be the wr

[2019-12-03 21:08] ryanjulian commented on #1084
If a policy is distributional, then to assess its performance you must sample from the distribution. The policies are not "random" distributions, they are very carefully chosen distributions.

Sometimes people just use the means of Gaussian policies to generate smoother movements or to execute on real robots, this is a convenient hack, but it's not how RL algorithms are assessed.

Note that not al

[2019-12-03 21:12] ryanjulian commented on #1084
Anyway -- I think that this could be implemented 2 ways without impacting training time:

1) Implement an evaluator worker, much like the plotter is now.
1) Make it a feature of the sampler to run one (or more) of its workers as evaluators
1) Use the sampler "Worker" abstractions to create an "Evalulator" which is in the same family as "Sampler" and "Plotter" (basically they are all just a collect

[2019-12-05 01:39] krzentner opened #1086 "Garage imports are not easy to use from the REPL"
In order to e.g. call `rollout`, I need the following imports:

[code]

Which is rather a lot of imports to type out. Preferably I would only need to type out one import:
[code]
or
[code]

This would make working with garage from the REPL much easier. It would also mean that launcher scripts can use fully qualified names without also needing a bunch of imports.

[2019-12-05 01:41] krzentner opened #1087 "PyTorch policies do not accept numpy arrays to get_action()"
This makes it impossible to use them with e.g. `rollout`. This should be fairly easy to solve by converting the inputs to PyTorch Tensors.

[2019-12-05 02:25] krzentner commented on #1077
Hi Surbhi1944, thanks for opening this issue.

Optimization starts at epoch 782 because you've set `min_buffer_size` to 1000000. Usually, when people are bechmarking this task, they set this parameter much lower. For example, [our bechmarks](https://github.com/rlworkgroup/garage/blob/master/tests/benchmarks/garage/tf/algos/test_benchmark_ddpg.py) set it to 10000 for all Mujoco tasks. I believe tha

[2019-12-05 02:32] krzentner opened #1088 "Off-policy algorithms cannot optimize after every time step"
Our implementations of off-policy algorithms require using the `OffPolicyVectorizedSampler`. However, that sampler only collects complete paths. Setting `batch_size` to 1 only results in the environment being reset, then a single sample from the start of the rollout being gathered.

This is a major problem, since the algorithms are usually used in a configuration where they train after every sampl

[2019-12-05 02:32] krzentner commented on #1088
@avnishn Found this out the hard way.

[2019-12-05 02:41] krzentner commented on #1088
Oh. Actually, reading `OffPolicyVectorizedSampler.obtain_samples` more carefully, the environment is not reset it `_last_obses` is set, so this bug (probably) does not exist. I'm closing this issue.

[2019-12-05 02:41] #1088 closed

[2019-12-05 02:44] krzentner opened #1089 "rollout_batch_size is confusing"
This hyper-parameter actually controls the number of environments that the `OffPolicyVectorizedSampler` actually uses at once, which is completely unclear from its name. As far as I can tell, the number of samples collected by each epoch of an off-policy algorithms is actually `rollout_batch_size * batch_size * n_epoch_cycles`.

[2019-12-06 02:53] ryanjulian commented on #867
closed by #987 and #1079

[2019-12-06 02:53] #867 closed

[2019-12-06 17:03] surbhi1944 commented on #1077
Thanks for the reply.

Now i got the purpose of min_buffer_size variable. But still confused for n_train_steps. I think this is representing the number of times we want the updation in the weights of neural network (1 time for 1 batch). As more its value means more time optimize_policy function (line275 of https://github.com/rlworkgroup/garage/blob/master/src/garage/tf/algos/ddpg.py) will be calle

[2019-12-06 21:52] zequnyu commented on #720
Tested in my laptop 5 times and got mostly 74.XX < 80 (current threshold)

[2019-12-06 23:09] avnishn commented on #1077
Hello all, it seems that we have an issue in the way that we log average returns over time.
The issue seems to be over here:

https://github.com/rlworkgroup/garage/blob/1def65424ba67988f1d7fe7a03bc6d5ec8e80eef/src/garage/torch/algos/ddpg.py#L144

Over time essentially we're computing an average over all the returns that we our sampler has observed from rolling out the policy. We should only be cal

[2019-12-07 01:41] ryanjulian opened #1091 "Add a performance evaluation interface to the RLAlgorithm base class"
Right now, performance of each algorithm is calculated within that algorithm. This means each algorithm may use different logger keys, math implementations, or metrics entirely to report its performance, and makes comparing results challenging.

I chatted with @krzentner and believe we can solve this in a fairly simple way, with a 2-part process

1. Define a performance evaluation API in the RLAlg

[2019-12-11 20:02] ahtsan opened #1094 "garage.tf.Policy should inherit from garage.tf.Model"
Example: CategoricalMLPPolicy should inherit from CategoricalMLPModel, and call `super()._build()` in `build()`.

As a result, the instance method `clone` will become part of garage.tf.Model interface.

[2019-12-11 20:05] ryanjulian commented on #1077
Quick update -- we were able to confirm your report and found lackluster performance in our tf/DDPG implementation. We are now auditing our implementation and making this fix the highest priority.

We're also benchmarking our torch/DDPG implementation to confirm whether or not the bug is shared.

We'll keep this issue updated.

[2019-12-11 21:42] avnishn opened #1095 "Don't scale rewards in off_policy_vectorized_sampler"
Currently the off policy sampler, in the process of adding samples to the replay buffer, adds the rewards scaled by the reward factor. I believe that this is an implementation detail that should be added inside of the algorithm for reduced ambiguity.

https://github.com/rlworkgroup/garage/blob/169c822573d3899911590988450e2466767f2451/src/garage/sampler/off_policy_vectorized_sampler.py#L141

[2019-12-12 04:49] zequnyu commented on #736
Closed by #1093.

[2019-12-12 04:49] #736 closed

[2019-12-12 04:49] zequnyu commented on #948
Closed by #1093.

[2019-12-12 04:49] #948 closed

[2019-12-13 01:29] avnishn commented on #1091
https://github.com/openai/spinningup/blob/b6965d89f5b713f6ad2a5fbef8f4db4fe4013250/spinup/algos/sac/sac.py#L220

this function seems like a useful resource.

[2019-12-16 00:22] zequnyu commented on #1021
Is this what you are looking for?
https://github.com/rlworkgroup/garage/blob/169c822573d3899911590988450e2466767f2451/src/garage/tf/algos/batch_polopt.py#L94

[2019-12-16 16:33] ryanjulian commented on #1021
Yes. I think this is basically a duplicate of the evaluation PRs you are working on.

[2019-12-17 22:11] zplizzi opened #1102 "TF DQN Pong example is broken"
Running

`python examples/tf/dqn_pong.py`

gives the error
[code]

This is with the most recent version of garage available via pip, and a copy of this repo from moments ago.

[2019-12-17 22:15] zplizzi commented on #1102
Whoops, it works if I install garage from source. Must have been a change in the API since the last pip release.

[2019-12-17 22:15] #1102 closed

[2019-12-17 22:46] ryanjulian commented on #1102
@zplizzi thanks for trying out the software! you can always see the exact code in each release by consulting the release tag or branch.

Assuming you are installing from the latest pip, those are:
Tag: https://github.com/rlworkgroup/garage/tree/v2019.10.1
Branch: https://github.com/rlworkgroup/garage/tree/release-2019.10

If you want a more cutting-edge copy, you can install the latest pre-release

[2019-12-17 22:54] zplizzi commented on #1102
Thanks!

[2019-12-21 20:27] zequnyu commented on #865
Closed by #1006.

[2019-12-21 20:27] #865 closed

[2019-12-22 01:37] ahtsan commented on #720
it's a matter of random seed -- if I set `seed=2`, it converges to 100 within 10 epochs. We can also let it run 15 epochs so it can converge with the default seed. @ryanjulian What do you think?

[2019-12-23 19:21] ryanjulian commented on #720
If it's a matter of seed, please send a PR to update the seed used by the test. This is failing all of our builds every night, so we don't want to wait for a more stable implementation. The point of the test is to detect obvious regressions, it's sufficient to verify a `(seed, performance)` tuple.

[2019-12-24 19:34] #720 closed

[2019-12-26 14:26] krzentner opened #1110 "Algorithms should use TrajectoryBatch"

[2019-12-27 21:23] naeioi commented on #998
This is closed by #1069 .

[2019-12-27 21:23] #998 closed

[2019-12-27 21:32] naeioi commented on #1015
Success rate is useful to reason about the process of experiment, I wonder if it is also useful in training policy.

Is this issue a priority? Currently, only DDPG logs success rate. I see this more of a problem of code consistency.

[2019-12-29 03:12] avnishn opened #1112 "Having the option to disable pytest-xdist locally"
Currently, pytest-xdist for parallel testing makes it hard to debug tests in garage using pdb. I find that by removing the `-n auto` from `setup.cfg` I am able to use pdb, however instead of removing this line, I'd rather that we had a flag available to us so we can disable the -n auto flag in the setup.cfg for when we are debugging tests.

@gitanshu does this feature already exist? And if not, is

[2019-12-29 20:25] ryanjulian commented on #1112
You always have the chance to turn off pytest-xdist -- just call pytest yourself without the `-n` argument, or just edit `setup.cfg`. Refer to the pytest man page for how to override `setup.cfg` options.

If you are referring to running tests with Docker using the Makefile, well Makefiles don't accept command line arguments, so it's not implementable that way. If you really want, you can create a

[2019-12-29 20:25] #1112 closed

[2019-12-29 20:26] ryanjulian commented on #1015
Fairly high-priority, since it's needed to run metaworld benchmarks. I think this can be covered by @zequnyu 's work on #1091 . Perhaps if you want to help tackle it you can help him finish that issue? It might require multiple PRs.

[2019-12-31 03:13] avnishn opened #1113 "Algorithms should use SamplesBatch"

[2019-12-31 06:53] naeioi opened #1115 "Add MAML Sampler for faster meta-task sampling"
I found that ProMP does sampling much faster than garage. This is because ProMP has a specialized sampler, call MAML Sampler, that parallelizes sampling at task-level. I think this is also important for garage.

A MAML Sampler is a sampler that samples all tasks in one run (i.e. one call to `sampler.obtain_samples()`. This is contrary to the current design of sampler, which handles a single task o

[2019-12-31 07:09] ahtsan commented on #1115
What if in the vectorized environments, say we have 10 parallel environment, we assign each environment with a different task?

[2019-12-31 07:14] naeioi commented on #1115
All environments share a single policy? @ahtsan

[2019-12-31 07:39] ahtsan commented on #1115
Yes

[2019-12-31 07:40] naeioi commented on #1015
@gitanshu recently reached out to me on this issue. Do you feel like working on this?

[2020-01-01 00:17] naeioi commented on #1115
@ahtsan That will be the ideal implemetation of this MAML sampler.

[2020-01-07 04:20] lubaroli opened #1119 "TRPO torch implementation not loading on fresh install on macOS Catalina"
Just finished installing garage on a brand new venv and cannot seem to import TRPO on Torch.

Steps to reproduce:
[code]
then:
[code]
results in:
[code]
output of `python --version`:
`Python 3.7.6`

output of `pip freeze`:
[code]

[2020-01-08 00:25] gaosh opened #1121 "environment difference between garage and rllab"
Hi, I tried to implement [Hessian Aided Policy Gradient](http://proceedings.mlr.press/v97/shen19d.html) with garage and pytorch. When testing my implementation, I found that the average reward from my implementation is completely different from the results of their paper with the CartPole environment. With 100 max step length, they can achieve more than 800, I can achieve at most 100. After I chec

[2020-01-08 08:19] ryanjulian commented on #1121
Hi @gaosh,

Thanks for opening an issue. A while back, we removed the rllab versions of most environments because most of the community has mostly standardized on the gym implementations of these environments. We didn't want people to confuse these with gym versions, and every line of code makes more maintenance work for an open source project like ours.

I think the last garage release with the C

[2020-01-08 08:53] ryanjulian opened #1122 "Nightly builds are crashing with a segfault"

[2020-01-08 08:56] ryanjulian commented on #1121
@gaosh I will close this for now. Please open a new issue if you need more help!

[2020-01-08 08:56] #1121 closed

[2020-01-08 09:03] ryanjulian commented on #1119
@lubaroli Thanks for the issue!

TRPO was not added to garage until after the `v2019.10` release. Per our [Maintenance Plan](https://github.com/rlworkgroup/garage/releases/tag/v2019.10.0) for major releases, new features and algorithms are not added to release branches (instead they are included in future releases.

To access TRPO, you can install our `v2020.02rc1` pre-lease (`pip install garage==

[2020-01-08 09:03] #1119 closed

[2020-01-09 00:57] #1122 closed

[2020-01-09 17:44] zequnyu opened #1125 "Refactor self.evaluate to class property"
https://github.com/rlworkgroup/garage/pull/1116#discussion_r363103106

https://github.com/rlworkgroup/garage/pull/1126#discussion_r365560995

[2020-01-11 23:18] MadcowD opened #1129 "Comparison to RLlib"
Hi there,

I was wondering if anyone had established a reasonable comparison to rllib (ray).
I am trying to chose between this and that and am having trouble making that decision.

[2020-01-12 03:08] ryanjulian commented on #1129
@MadcowD here are some quick "this vs that" comparisons

| Garage | rllib |
|---|---|
| Focuses on single-machine environments for now, but allows you to add distributed components like sampling | Focuses aggressively on cluster environments, requiring you design your algorithm for clusters from the start |
| Community-supported | Supported by Berkeley RISE lab and a new start-up called Anyscale |

[2020-01-12 03:08] #1129 closed

[2020-01-12 03:25] MadcowD commented on #1129
Thank you!!!!!

[2020-01-12 03:45] MadcowD commented on #1129
@ryanjulian can I ask what the barriers to A2C style algorithms are?

[2020-01-12 03:50] ryanjulian commented on #1129
No technical barriers, just time. We spend a lot of time focusing on RL algorithms for continuous control, and A2C-style algorithms are more useful for gameplay domains. They would not be difficult to implement in garage, especially because we already have pixel-DQN.

[2020-01-13 18:18] krzentner opened #1130 "TensorFlow usage not documented due to rtfd.io incompatibility"
Including tensorflow in docs/requirements.txt causes rtfd.io builders to run out of memory, so it's commented out. However, this results in sub-optimal documentation.

Surely we're not the only ones with this problem. We should look at what other projects have done to solve this.

[2020-01-13 19:57] #1113 closed

[2020-01-14 04:44] ryanjulian commented on #1113
Which PR closed this?

[2020-01-14 05:02] ryanjulian commented on #1113
It doesn't seem like algorithms use the new dtype yet?

[2020-01-15 01:01] avnishn commented on #1113
We moved forward with not having a samples Batch dtype. We now have the `TrajectoryBatch` dtype and the `TimeStep` dtype. Therefore, the issue is no longer applicable. I will open another issue that suggests that we use the new `TimeStep` dtype for off policy algos.

[2020-01-15 02:49] JialouWang opened #1135 "tf.compat.v1.get_default_session() returns NoneType"
[code]
When I try to build a GaussianMLP model, this tf.compat.v1.get_default_session() gives me a NoneType. Where is this default session being initialized? or should i create one by my self?
Sorry if this is a dumb question

More detailed log:
[code]

[2020-01-15 14:10] ryanjulian commented on #1135
@JialouWang Can you post a code snippet which will lead us to this error?

[2020-01-15 16:04] JialouWang commented on #1135
[code]
This should be able to reproduce the issue

[2020-01-15 20:23] ryanjulian commented on #1135
The TensorFlow `GaussianMLPPolicy` can only be constructed from within a valid TensorFlow v1 session. This is handled for you when using the `LocalRunner` context manager to run an algorithm (see the TF [examples](https://github.com/rlworkgroup/garage/tree/master/examples/tf) for usage). If you would like to use `GaussianMLPPolicy` directly, you would need to construct and enter a TensorFlow v1 se

[2020-01-15 20:23] #1135 closed

[2020-01-19 20:05] zequnyu commented on #679
Closed by #1116.

[2020-01-19 20:05] #679 closed

[2020-01-19 20:07] zequnyu commented on #1021
Closed by #1017.

[2020-01-19 20:07] #1021 closed

[2020-01-21 08:43] krzentner opened #1141 "Torch policies should not use multiple inheritance"
All of the existing Torch policies are `torch.nn.Module`, because they inherit from `garage.torch.modules.MLPModule`. `torch.policies.Policy` is also a `torch.nn.Module`, but it cannot call `super().__init__()`, because multiple inheritance causes that to usually (but not always) call `MLPModule.__init__()`.

[2020-01-21 09:23] krzentner opened #1143 "Meta-RL related logic should be grouped into a directory"

[2020-01-21 10:06] krzentner opened #1144 "Refactor Policy heirarchy so that there's a root Policy type."

[2020-01-21 23:57] yonghyuc opened #1145 "Add mini batch optimizer to PPO-PyTorch and verify SOTA performance"
Add mini batch optimizer to PPO-PyTorch

[2020-01-23 23:07] ryanjulian opened #1147 "Some examples tests are flaky"
This causes segfaults on most builds.

* `test_ppo_memorize_digits`
* `test_trpo_cubecrash`

[2020-01-24 06:25] ryanjulian opened #1150 "test_ray_batched_sampler.py::test_update_envs_env_update is flaky"

[2020-01-24 17:24] npowell88 opened #1151 "TensorFlow 2.x support"
Is Garage compatible with model architectures built with the new Tensorflow 2.x interface? If not are there plans to integrate?

[2020-01-25 03:07] ryanjulian commented on #1151
@npowell88 tl;dr: No support yet. No timelime for integration (other than eventually), but it probably won't be seen until the latter half of the year (maybe `v2020.06` or `v2020.10`).

This is a wishlist item, but the core developers are focusing on what we believe are more impactful enhancements (namely better support for PyTorch, meta-/multi-task RL, and better documentation). I'm also a fan of

[2020-01-26 01:51] ryanjulian commented on #1015
@krzentner @zequnyu is this fixed? for *all* algorithms?

[2020-02-08 03:37] MHashemzadeh opened #1161 "Installation issue"
We tried to install garage toolkit on Ubuntu and ran tf and torch examples.I was able to run tf examples successfully, however, I could not run any of torch examples.
I found that many of the functions in torch category are not installed in the package. Actually, I saw that the torch examples could not import many of the function and then I found that these are not added to the __init__.py in the

[2020-02-09 00:28] ryanjulian commented on #1161
Hi @MHashemzadeh -- thanks for filing an issue.

Are you installing garage from Github or from pip?

Note the error on the last line -- it appears you are trying to use a module which requires MuJoCo. In that case you will need to follow the MuJoCo installation instructions (or use the scripts in scripts/) to help install dependencies, and then install the optional package `garage[mujoco]`. We kee

[2020-02-09 00:28] #1161 closed

[2020-02-09 02:33] ryanjulian opened #1162 "Tensorboard.dev support for wrap_experiment"
Perhaps we can autogenerate a tensorboard.dev link for the user?

[2020-02-09 22:42] YunchuZhang opened #1163 "About support DDPG pytorch with HER and MPI"
Hi there,
I want to ask that for your repo, did you support MPI for ddpg pytorch version and ddpg plus her?

THanks

[2020-02-14 20:16] MHashemzadeh commented on #1161
Hi @ryanjulian
Thanks a lot :) . Your comment solved my issue.
I also was wondering if you insert MAESN algorithm to "garage"? Or do you have a plan to add it to the package?
Thanks

[2020-02-14 21:30] ryanjulian commented on #1161
We'd like to add MAESN but don't have specific plans for when yet.

As you can see from recent commits and PRs, we have been working hard on adding meta- and multi-task RL support. We're focusing on getting our meta-/MTRL support solid with the first several algorithms before adding a lot of new ones to the library.

Once the basics for that are in place, adding MAESN should not be super hard. I'd

[2020-02-17 04:05] ryanjulian commented on #1163
@YunchuZhang we don't use MPI for parallelization and instead use our own parallel sampling code. you can check out `garage.sampler` for more info.

[2020-02-17 04:05] #1163 closed

[2020-02-17 04:06] #1151 closed

[2020-02-17 04:08] ryanjulian commented on #1091
@krzentner @zequnyu is this done?

[2020-02-17 21:38] avnishn opened #1174 "Updating log pi function of Tanh Distribution"
Supposedly, using the following log pi calculation is more numerically stable than using the one in the original sac implementation:

    logp_pi -= tf.reduce_sum(2*(np.log(2) - pi - tf.nn.softplus(-2*pi)), axis=1)

[2020-02-17 21:38] avnishn commented on #1174
https://github.com/openai/spinningup/blob/038665d62d569055401d91856abb287263096178/spinup/algos/tf1/sac/core.py#L54

[2020-02-20 00:23] parachutel opened #1177 "Version error in setup.py with atari-py"
In `setup.py`, it requires:
` 'atari-py<0.2.0'` and `'gym[atari,box2d,classic_control]' + GYM_VERSION` with `GYM_VERSION = '==0.15.4'`.

But in `gym-0.15.4` setup.py requires:
`'atari': ['atari_py~=0.2.0', 'Pillow', 'opencv-python']`

There is a version conflict for `atari-py`.

[2020-02-25 07:35] alex-petrenko commented on #1020
This might be unrelated, but we found big performance differences between using `llvm-openmp` vs `intel-openmp`. Weirdly enough, this is observed even when we use GPU for both forward and backward pass.

Some strange dependency issue in conda is causing this (e.g. the newest version of libgcc runtime depends on package `_openmp_mutex` which brings along the llvm openmp runtime instead of the Intel

[2020-02-28 08:16] ghx-0228 opened #1179 "Query about TRPO algorithm"
I walked through the script of TRPO, I have a question about 'LossBefore, LossAfter and dloss'

From your script, I treat LossBefore as Loss before update, and LossAfter as Loss after update.

But in my opinion, for each iteration, we compute the 'Loss' using the collected data and then update the policy for the next iteration. Therefore, we should compute LossAfter using the samples from the next

[2020-02-28 08:34] #1179 closed

[2020-02-28 10:52] krzentner commented on #1179
Basically we're just logging the change in loss from that single optimization step, by logging the loss before and after (as well as `dloss` itself). If we want to compare the loss between epochs (i.e. after gathering new experience), then we just look at the next epoch's `LossBefore`. However, that value is usually very noisy.

[2020-02-28 19:15] ryanjulian opened #1180 "TRPO performance has a regression"

[2020-02-28 20:12] zequnyu commented on #1091
This is done.

[2020-02-28 20:12] #1091 closed

[2020-02-29 00:14] ryanjulian opened #1181 "Add RNN support to torch/PPO and torch/TRPO"

[2020-02-29 00:50] ryanjulian commented on #779
In retrospect, tighter coupling to gym is probably not a good idea.

[2020-02-29 00:50] #779 closed

[2020-02-29 00:50] ryanjulian commented on #780
In retrospect, tighter coupling to gym is probably not a good idea.

[2020-02-29 00:50] #780 closed

[2020-02-29 01:11] avnishn commented on #1084
@krzentner I thought we solved this with the evaluation logging interface?

[2020-03-01 17:28] lywong92 commented on #1147
@ryanjulian @gitanshu How can I reproduce the bug? I ran it locally on my machine, and it seems fine.

[2020-03-01 19:07] ryanjulian commented on #1147
You can run the tests several times on your machine manually and see if they fail. Make sure you use the docker container to run them. You will have to remove the flaky marker on the test definition (it skips the test).

[2020-03-02 02:55] lywong92 commented on #1147
I used docker to run `test_ppo_memorize_digits` and `test_trpo_cubecrash` individually for about 10 times. I also ran the whole integration test script 5 times. I still cannot reproduce the bug. Can someone else try it out?

[2020-03-02 19:13] ryanjulian opened #1183 "Check into adding some flake8 add-ons to avoid pitfalls"
e.g.
flake8-bugbear
flake8-comprehensions
flake8-tuple
flake8-eradicate

[2020-03-03 01:03] ryanjulian opened #1185 "garage.Environment should return TimeSteps"

[2020-03-03 22:12] zequnyu commented on #1015
This is covered by #1116 and #1142.

[2020-03-03 22:12] #1015 closed

[2020-03-04 00:09] ahtsan opened #1191 "RL2 should wrap env automatically"
This can't be done now since algorithm does not own sampler.

[2020-03-04 20:44] avnishn commented on #1087
closed by #1176

[2020-03-04 20:44] #1087 closed

[2020-03-07 01:08] zequnyu commented on #1125
Closed by #1139.

[2020-03-07 01:08] #1125 closed

[2020-03-10 18:46] ryanjulian commented on #1177
@gitanshu is this fixed?

[2020-03-11 20:02] naeioi opened #1198 "Unify env_infos of multi- and meta-ML environment"
Multi- and meta-ML environment needs a way to report the task name of an environment step. Usually, this information is saved in the `env_infos` of an action return. Unfortunately, there is not (yet) a standard for the field (and definition) of such information. In garage, we currently use try-catch to handle different cases we have encountered so far. See https://github.com/rlworkgroup/garage/blo

[2020-03-11 20:42] ryanjulian opened #1199 "Backport #1197 to release-2019.10"
Unfortunately the automatic backport didn't work because the file was moved

You will need to update this file https://github.com/rlworkgroup/garage/blob/release-2019.10/src/garage/torch/algos/loss_function_utils.py

[2020-03-11 20:45] ryanjulian opened #1200 "Travis installs broken by MPI linker errors"
e.g. https://travis-ci.com/github/rlworkgroup/garage/jobs/296858607

[2020-03-11 21:35] ryanjulian opened #1202 "Metaworld examples for MAML"

[2020-03-11 21:35] ryanjulian opened #1203 "Metaworld examples for PEARL"

[2020-03-11 21:35] ryanjulian opened #1204 "Metaworld examples for MTSAC"

[2020-03-11 21:36] ryanjulian opened #1205 "Metaworld examples for RL2"

[2020-03-11 21:36] ryanjulian opened #1206 "Metaworld examples for TEPPO"

[2020-03-11 21:36] ryanjulian opened #1207 "Metaworld examples for MTTRPO"

[2020-03-11 21:37] ryanjulian opened #1208 "Metaworld examples for MTPPO"

[2020-03-11 22:08] naeioi commented on #1199
Close by #1209 .

[2020-03-11 22:08] #1199 closed

[2020-03-11 22:09] naeioi opened #1210 "Add online meta-testing to MAML"

[2020-03-11 22:09] ryanjulian opened #1211 "Document garage support for various cluster management libraries"
Typical execution environments
* List of SSH hosts
* slurm
* k8s
* EC2
* GCP
* Azure?

[2020-03-11 22:27] ryanjulian opened #1212 "Resume integration test for each algorithm"

[2020-03-12 18:18] naeioi opened #1215 "Shape of env_info of HalfCheetah* environments not compatible with TrajectoryBatch"
A trajectory of `HalfCheetahVel` and `HalfCheetahDir` should have an `env_info` dict of numpy array but they do not. The `task` in their `env_info` is instead a dict.

`env_info` is assumed by `TrajectoryBatch` to be a dict of numpy array.

This is a bug that will break an algorithm when it uses `HalfCheetah` together with `TrajectoryBatch`.

[2020-03-12 23:12] #1200 closed

[2020-03-13 02:16] avnishn commented on #1150
closed by #1193

[2020-03-13 02:16] #1150 closed

[2020-03-13 02:26] avnishn commented on #1084
I believe that this issue is close by src/garage/np/algos/off_policy_rla.py::_obtain_evaluation_samples

[2020-03-13 02:27] #1084 closed

[2020-03-13 22:18] amolchanov86 opened #1219 "Garage ignores pre-created log directory structure + Integration with Hydra"
It seems that the garage creates another dictionary (with postfix _1) if the pre-created directory structure exists.
I boiled it down to the flag `exist_ok=True` in os.makedir in the ExperimentTemplate.
For example, the Hydra framework creates the folder structure on its own and places all configs inside (and other nice things), but when the garage is invoked it simply cleans up everything.

Garag

[2020-03-15 15:17] ahtsan opened #1222 "Recurrent policies should support multiple hidden dimension in TensorFlow branch"
Currently, TF branch recurrent policies only support a single dimension (for example, see https://github.com/rlworkgroup/garage/blob/master/src/garage/tf/policies/gaussian_gru_policy.py#L58).

[2020-03-15 15:20] ahtsan opened #1223 "Separate TaskSampler instantiation from LocalRunner in MetaEvaluator"
Currently, LocalRunner instantiates TaskSampler and introduces circular reference between Algorithm, MetaEvaluator and LocalRunner. This is a blocking issue for meta-RL algorithms.

[2020-03-15 15:21] ahtsan opened #1224 "Add online meta-testing to RL2"

[2020-03-15 15:22] ahtsan commented on #1205
Does that mean we need to make Metaworld a required dependency?

[2020-03-16 19:14] ahtsan opened #1225 "Add ML10/45 support in RL2"
Could be done after Metaworld API, which allows user to construct a `MultiClassMultiTaskEnv` from a single task name, is merged.

[2020-03-16 19:50] ryanjulian commented on #1222
Duplicate of #709

[2020-03-16 19:50] #1222 closed

[2020-03-16 21:59] ryanjulian commented on #1205
Maybe not. We can print an error if someone tries to run an example without installing metaworld.

[2020-03-16 21:59] ryanjulian commented on #1205
i.e. we can make it optional instead

[2020-03-17 00:54] krzentner opened #1226 "Change `TrajectoryBatch` to be a type that can be easily subclassed"
We're beginning to see that some algorithms need a `TrajectoryBatch` like datatype, but with additional fields. The natural way to address this in Python is probably to use subclassing.

We should change `TrajectoryBatch` to be a type that can be easily subclassed to add additional data (for example, using [`types.SimpleNamespace`](https://docs.python.org/3/library/types.html#types.SimpleNamespace

[2020-03-18 02:25] yonghyuc opened #1229 "Change shape of Independent object in Gaussian MLP Module"
Currently, the log likelihood from the GaussianMLPModule is single value that sum every log likelihood from each observation and action. However, for PPO and VPG, each individual log likelihood value is needed to calculate advantage value.

This is shape of log likelihood that we need for PPO and VPG

![image (1)](https://user-images.githubusercontent.com/43084978/76919035-f4c8e600-6884-11ea-8e0e-

[2020-03-18 18:41] ryanjulian commented on #1229
It seems to me this could be a mix-up of how batches/broadcasting is handled?

If I send a batch of samples to log_prob I should get a batch of LLs. This should apply not just to LL, but any other feedforward properties of the policy (e.g. entropy)

[2020-03-19 01:26] gitanshu opened #1230 "Installing garage in conda fails due to MPI linker errors"
e.g. https://travis-ci.com/github/rlworkgroup/garage/jobs/296858607

Related issue of mpi4py's issue tracker: https://bitbucket.org/mpi4py/mpi4py/issues/143/build-failure-with-python-installed-from

Copy of #1200

[2020-03-19 01:43] gitanshu commented on #1177
closed by #1194

[2020-03-19 01:43] #1177 closed

[2020-03-19 19:30] krzentner commented on #877
This exists now. Just pass a list of environments or (`EnvUpdate`s) the same list as the number of workers to the new style sampler (`LocalSampler` or `RaySampler`).

[2020-03-19 19:30] #877 closed

[2020-03-19 22:24] #1147 closed

[2020-03-20 00:34] adibellathur commented on #354
@ryanjulian @avnishn

**Update on this Issue:**
The root of the issue seems to be that when the plotter calls self.rollout(), which calls policy.reset(), there is no session for the network to evaluate on. The error message that gets thrown is as follows:
[code]

The strange thing is rollout is being called within a with `self.sess.as_default()` statement, and even in the line right before the rol

[2020-03-20 00:38] ryanjulian commented on #354
Hmm. Which example file (or launcher code) are you using?

Some suggestions
* Does your recurrent example algorithm work otherwise without plotting?
* Is the plotter being run here the one which lives in `garage.plotter` or `garage.tf.plotter`? It should be the latter because these are TF algorithms.
* Did the plotter enter a TF session at any time? i.e. `with self.sess`? If it doesn't do this, ev

[2020-03-20 00:44] adibellathur commented on #354
I updated my message with the custom launcher file I used to duplicate the original issue as close as possible. the error also occurs when I use trpo_cartpole_recurrent.py

Yes both run the completion.

It is `garage.tf.plotter` that is being used

Yes I am checking if there is a an active session and there is. The garage.tf.plotter code runs `self.rollout` within a `with` statement and I verified

[2020-03-20 00:47] ryanjulian commented on #354
Just to verify, have you made sure plotting still works for a non-recurrent example (using otherwise exactly the same launcher)?

[2020-03-20 00:58] adibellathur commented on #354
I tested the non-recurring error on trpo_cartpole.py, which worked most of the time, but sometimes it throws the following error. Rerunning it got the plotter to work.

[code]

[2020-03-20 01:08] ryanjulian commented on #354
Okay, that one is strange but believeable. To be clear though, you're not seeing the same session-related errors in the non-recurrent version as the recurrent version?

[2020-03-20 01:11] adibellathur commented on #354
Yes that is correct. It has no session issues.

[2020-03-20 15:15] #1223 closed

[2020-03-20 17:48] ryanjulian commented on #354
At this point I would recommend using (i)pdb to figure out what's going on.

[2020-03-21 23:18] lywong92 opened #1238 "Add Value Function primitive in PyTorch"
PEARL uses a value function to map `r ~= V(o, z)`. Currently, the value function instance is created using `ContinuousMLPQFunction` with Q(o, z).

We should create a new primitive for value functions in PyTorch.

[2020-03-21 23:26] lywong92 opened #1239 "Remove setter methods in EnvSpec"
Remove setter methods in `EnvSpec` because `action_space` and `observation_space` should be immutable. Several existing tests set `action_space` and `observation_space`, and these tests should be corrected as well.

[2020-03-21 23:33] lywong92 opened #1240 "Investigate tests in test_examples.py"
Several tests marked as flaky in `tests/integration_tests/test_examples.py` are showing `OSError: [Errno 12] Cannot allocate memory` when running Normal tests through Travis CI.

[2020-03-22 01:16] avnishn commented on #807
Closed by #1235

[2020-03-22 01:16] #807 closed

[2020-03-22 01:17] avnishn commented on #1229
Closed by #1235

[2020-03-22 01:17] #1229 closed

[2020-03-22 04:36] avnishn commented on #1240
@lywong92 can you include a link to a travis build where this happened?

[2020-03-22 18:38] lywong92 commented on #1240
https://travis-ci.com/github/rlworkgroup/garage/jobs/300487437

[2020-03-23 16:54] avnishn commented on #354
I think I recommended that he do this too @ryanjulian. However, I don't think this worked because he can't wasn't able to attach ipdb breakpoints in forked processes.

Do you have any recommendations for a python debugger that would work with forked processes?

[2020-03-23 16:55] ryanjulian commented on #354
pyspy

On Mon, Mar 23, 2020, 9:54 AM Avnish Narayan <notifications@github.com>
wrote:

[2020-03-23 16:58] ryanjulian commented on #354
pyspy can show you where the code is even though it's a profiler and not a debugger.

The TF plotter is multithread, not multiprocess. ipdb breakpoints should work from any thread.

[2020-03-24 18:38] #876 closed

[2020-03-24 19:22] krzentner commented on #1049
This exists now. I don't think we're going to delete `run_experiment` this version.

[2020-03-24 19:22] #1049 closed

[2020-03-24 19:23] krzentner opened #1243 "Delete run_experiment"

[2020-03-24 19:23] krzentner commented on #866
This is done. It's not perfect, but I'll open specific issues for remaining issues.

[2020-03-24 19:23] #866 closed

[2020-03-24 19:24] krzentner opened #1244 "Refactor off-policy algos to use new style samplers"

[2020-03-24 19:24] krzentner opened #1245 "Come up with an API allowing new-style samplers to single-step sample"

[2020-03-24 19:31] krzentner opened #1246 "Redesign the TaskSampler API to be easier to get high performance"
Basically, if you're training multi-task or meta-RL algorithms, you can choose various `TaskSampler`s. However, the performance implications of how the `TaskSampler` and the `Sampler` (`LocalSampler` or `RaySampler`) interact is really complicated.

[2020-03-24 19:40] krzentner commented on #1230
Gitanshu discovered the easiest way to fix this is to update baselines, which should only require a few API updates in benchmark tests.

[2020-03-25 00:29] ryanjulian opened #1251 "Install dm_control from PyPI"
They have a PyPI distribution now, so we should use it.

[2020-03-26 06:47] naeioi commented on #374
Closed by #1234

[2020-03-26 06:47] #374 closed

[2020-03-26 06:48] naeioi commented on #1210
Closed by #1234

[2020-03-26 06:48] #1210 closed

[2020-03-26 06:48] naeioi commented on #1202
Closed by #1234

[2020-03-26 06:48] #1202 closed

[2020-03-26 22:51] avnishn opened #1259 "move conftest.py out of the global package space"
currently conftest.py for pytest fixtures is located in the root package directory. It should be moved, or factored into tests/fixtures in order to avoid this

[2020-03-27 23:19] ahtsan opened #1260 "deterministic.set_seed does not guarantee full determinism in TensorFlow"
Determinism in TensorFlow depends on two seeds: Graph seed and op seed. Currently `deterministic.set_seed()` only set the graph seed, which makes the random sequences generated by all ops be repeatable across sessions, but not when sequences of ops changed.

Setting both graph_seed and op_seed will guarantee full determinism, i.e. calling
[https://www.tensorflow.org/api_docs/python/tf/compat/v1/se

[2020-03-27 23:50] ryanjulian commented on #1260
@ahtsan can you estimate how big a change we would need to fix this?

[2020-03-27 23:53] ahtsan commented on #1260
Basically providing a seed to all tf.op -- shouldn't take long

[2020-03-28 00:32] adibellathur commented on #354
@ryanjulian @avnishn
Update on the issue:

So I found the bug regarding the eval() issue. It was being passed None as the default session instead of our default session, so I made the quick fix. Now I have run into more errors later in the training process.

1. If I leave on pause_for_plot=True during the run of the plotter, the session does not close during the middle of plotting. If I do not do

[2020-03-29 19:58] ryanjulian commented on #354
@adibellathur thanks for the great work.

I think you should chat with @ahtsan about the issues with recurrent policies. He is most familiar.

This is not the first time we've had trouble with multithreading in the TF plotter. Perhaps see if you can get `garage.plotter` to work with TF instead (it's based on multi-process rather than multi-threading). We'd like to have only one plotter, anyway. @z

[2020-03-29 20:17] ryanjulian commented on #234
So I think the clear path to closing this is similar to our strategy for examples -- We can't run each example in full on the CI path, but we can ensure that each algorithm has a relevant benchmark script, and that script can be executed (for perhaps a single epoch).

[2020-03-29 20:36] ryanjulian commented on #1203
@lywong92 is this done yet?

[2020-03-29 20:36] ryanjulian commented on #1204
@avnishn is this done yet?

[2020-03-29 20:36] ryanjulian commented on #1205
@ahtsan is this done yet?

[2020-03-29 20:36] ryanjulian commented on #1207
@yonghyuc is this done yet?

[2020-03-29 20:36] ryanjulian commented on #1208
@yonghyuc is this done yet?

[2020-03-29 20:37] ryanjulian commented on #1145
@yonghyuc is this done?

[2020-03-29 20:41] #874 closed

[2020-03-29 20:42] ahtsan commented on #1205
Just merged

[2020-03-29 20:42] #1205 closed

[2020-03-29 20:43] #1225 closed

[2020-03-29 20:43] #1224 closed

[2020-03-29 20:44] ryanjulian commented on #653
@gitanshu this is fixed, right?

[2020-03-29 22:15] adibellathur commented on #354
Thanks @ryanjulian. And that sounds like a good plan. I will try and get the standard plotter working with TF now. And regarding the people you mentioned I should reach out to, what's the best way to get in touch?

[2020-03-30 01:30] naeioi commented on #1180
Preliminary benchmarks on InvertedDoublePendulum shows a close performance between garage and OpenAI baselines.

https://tensorboard.dev/experiment/OhevZaJWRqGK4ZToaYYRfw/#scalars&runSelectionState=eyJnYXJhZ2UiOnRydWUsImdhcmFnZV9weXRvcmNoIjp0cnVlfQ%3D%3D

[2020-03-30 19:13] gitanshu commented on #653
Closed by #1220

[2020-03-30 19:13] #653 closed

[2020-03-30 19:13] gitanshu commented on #1251
Closed by #1247

[2020-03-30 19:13] #1251 closed

[2020-03-30 19:17] ryanjulian commented on #1203
@lywong92 Can you please add examples for ML10 and ML45 as well?

[2020-03-30 21:01] alversafa opened #1261 "Testing MAML on envs with high dimensional observation"
I want to test MAML on environments that have high dimensional observations and discrete actions space as in ATARI games.

What would be the necessary changes other than adding a `CategoricalCNNPolicy` to `garage/torch/policies` and a wrapper around the env as in `garage/src/garage/envs/mujoco/half_cheetah_dir_env.py`?

[2020-03-30 23:59] ryanjulian opened #1264 "Backport #1253 to release-2019.10"

[2020-03-31 00:04] ryanjulian commented on #354
This comment thread! @ahtsan @zequnyu

[2020-03-31 20:45] ahtsan commented on #354
@adibellathur Sorry for the late reply! I've been looking into the issue and wanted to come up with a complete explanation and proposed solution.

Regarding the issues you encountered:
1. `"Attempt to use uninitialized variables" when you call eval()`: Yes, I believe you found out the bug. LocalRunner does not provide a session when plotter is constructed. Passing `sess=tf.get_default_session()` a

[2020-04-01 00:22] naeioi commented on #1180
Benchmark results on MuJoCo3M. The rest of the tasks are on their way...

![Hopper-v2_benchmark](https://user-images.githubusercontent.com/8409272/78086815-ee059d00-7373-11ea-8cd5-1c44f5ab6e3f.png)
![InvertedDoublePendulum-v2_benchmark](https://user-images.githubusercontent.com/8409272/78086817-ee9e3380-7373-11ea-9813-0ee0e022b166.png)
![InvertedPendulum-v2_benchmark](https://user-images.githubuse

[2020-04-01 00:43] ryanjulian commented on #1180
Do you plan on running torch TRPO too?

[2020-04-01 01:43] naeioi opened #1269 "MAML does not work when num_grad_updates > 1"

[2020-04-01 02:37] ahtsan commented on #354
check out #1270

[2020-04-01 22:44] yonghyuc commented on #1145
@ryanjulian Yes. I will close this issue.

[2020-04-01 22:44] #1145 closed

[2020-04-02 02:29] adibellathur commented on #354
Hello @ahtsan

Thank you so much for taking a good look at this! It seems like you have made all the fixes with that PR. And your explanation makes a lot of sense. I will pull the changes you made and take a good look at it. Thanks again. Also let me know if you would like me to do anything to help out I'll do what I can.

[2020-04-02 23:56] naeioi opened #1273 "Add discrete policies to PyTorch"

[2020-04-02 23:59] naeioi commented on #1261
Besides what you have mentioned, you probably also need to work on MAML and VPG from which MAML borrows several utility functions.

PyTorch supports only continuous action space by now. It is unclear to me how much effort it will take to make a `CategoricalCNNPolicy` work.

I opened an issue to track our progress to support discrete policy for PyTorch #1273 . And you are welcomed to report your fi

[2020-04-03 06:28] yonghyuc opened #1274 "Rename `baseline` to `value function` for PyTorch algorithms"

[2020-04-03 18:31] ryanjulian opened #1276 "Remove gym dependency"

[2020-04-03 18:36] ryanjulian commented on #1261
@alversafa I think your assessment it correct. You basically need to add a CategoricalCNNPolicy and a wrapper to HalfCheetahDirEnv. You can take a look in the TF tree for how this looks in garage and this example (https://github.com/rlworkgroup/garage/blob/master/examples/tf/ppo_memorize_digits.py).

Note that image-based environments have pretty big performance implications which haven't yet been

[2020-04-03 18:42] ryanjulian opened #1277 "Backport #1270 to release-2019.10"

[2020-04-03 21:12] yonghyuc commented on #1207
@ryanjulian I am waiting Avnish to merge environment wrapper for MT.

[2020-04-03 22:30] naeioi opened #1278 "Add versioning to pickle file"
We need to add versioning to pickle file to prevent people from loading a pickling file that is generated by an old version of garage. Doing so will almost always fail, with meaningless error messages, but the folks might not be aware of the root cause.

[2020-04-07 23:21] #1269 closed

[2020-04-08 00:13] ahtsan commented on #912
close by #1271

[2020-04-08 00:13] #912 closed

[2020-04-08 00:17] #1034 closed

[2020-04-08 00:22] #1240 closed

[2020-04-08 00:23] #1095 closed

[2020-04-08 00:34] #1219 closed

[2020-04-08 18:33] parachutel opened #1285 "Add capability of saving non-serializable environment"
Some `gym` environments like Google Research Football are not serializiable, which will cause problem when saving env through `param['env']` in `LocalRunner.save()`, where param is to be serialized by snapshotter. I would suggest adding options for saving environment creating functions to bypass this problem.

[2020-04-08 20:45] ryanjulian commented on #1285
Hi @parachutel

Thanks for trying garage!

We use the pickling protocol (instead of functors, for example), because it is defined by Python itself and therefore standard across implementations. The `pickle` library in the Python standard library can't even pickle anonymous functions (though `cloudpickle`, which we use, can). Generally, we follow the Python commnunity ethos that if the standard lib

[2020-04-08 21:32] ryanjulian opened #1289 "Submit garage to https://github.com/lfai/lfai-landscape"

[2020-04-08 22:06] parachutel commented on #1285
Hi @ryanjulian

Thanks for your quick response!

The major reason the FootballEnv is not pickleable is because it has an attribute `FootballEnv._config` which is of type `_gameplayfootball.GameConfig`. The `_gameplayfootball` is coded with C++ and compiled into a shared object file, instead of Python.

[2020-04-08 22:44] yonghyuc opened #1290 "Fix TRPO benchmark script for new openai.baseline version"
Fix TRPO benchmark script for new openai.baseline version

[2020-04-08 23:28] ryanjulian commented on #1285
@parachutel have you tried the fix I suggested? AFAICT my fix should avoid this very problem.

[2020-04-08 23:58] parachutel commented on #1285
@ryanjulian Yeah, I tried, and the problem still exists.

[2020-04-09 00:12] ryanjulian commented on #1285
@parachutel can you post a stacktrace/error message of the failure to serialize?

[2020-04-09 00:14] ryanjulian commented on #1285
Hey @parachutel -- in case you copied my code exactly, someone pointed out that I added an extra _ to the method names -- see updated example below.

[code]

[2020-04-09 00:36] krzentner commented on #1230
This is fixed in master, but very difficult to backport. I think the right solution is just to say that `garage[dev]` for the 2019.10 release cannot be installed in conda. If you want that, manually install the garage dev dependencies besides baselines (which is what's causing us to install mpi).

[2020-04-09 00:36] #1230 closed

[2020-04-09 01:15] parachutel commented on #1285
Hey @ryanjulian, the updated code solved problem perfectly. Thanks a lot for the help and actively developing this amazing RL library!

[2020-04-09 01:15] #1285 closed

[2020-04-09 01:19] ryanjulian commented on #1285
@parachutel Would you be interested in contributing a PR with you wrapper? If not, I'll add it to our backlog.

[2020-04-09 01:20] ryanjulian opened #1294 "Add wrapper and tests for Google Research Football"
See #1285

[2020-04-09 01:31] parachutel commented on #1285
@ryanjulian Sure! I'll do it as soon as I got the time.

[2020-04-09 06:26] C-monC opened #1295 "Batch size stuck on a large number"
Hello,
I have made a custom env to train a 2 finger gripper. The env has an observation image that is single channel. I've flattened the observation array to (84480) from (352,240).

The error: `MemoryError: Unable to allocate 315. GiB for an array with shape (10000, 100, 84480) and data type float32`. The RL algorithm I am trying is tf_ddpg_pendulum. I still get that error even with ` runner.trai

[2020-04-09 19:01] #1277 closed

[2020-04-09 19:02] ahtsan commented on #1277
closed by #1292

[2020-04-09 19:19] krzentner commented on #1295
Hello Simon,
The above error probably comes from allocating the replay buffer for your environment. The size of the replay buffer isn't affected by the batch size. The first two numbers come from the arguments you've passed to your replay buffer (probably `SimpleReplayBuffer`). Specifically, the `size_in_transitions` parameter determines the total memory usage of the buffer. If you decrease that p

[2020-04-09 19:19] #1295 closed

[2020-04-09 20:10] ryanjulian commented on #1278
Do you have a practical implementation suggestion? The nature of pickle is that any code change could cause unpickling to fail.

Do you think we should warn people when we find a version mismatch?
Are you suggesting we use the official version in VERSION? The git hash? etc.

[2020-04-09 22:02] #1290 closed

[2020-04-09 22:42] #1274 closed

[2020-04-10 08:27] C-monC commented on #1295
Hi Krzentner,
Thanks for the help that worked and it is training now. Can I just ask how do you evaluate the model after training? The only resource I could find that tests after training is the Jupyter Notebook but no where do they open a model file.

I'll make a new issue if this isn't a quick thing to do.

[2020-04-10 18:47] zequnyu commented on #1264
#1299.

[2020-04-10 18:47] #1264 closed

[2020-04-11 00:25] #567 closed

[2020-04-11 00:25] #354 closed

[2020-04-13 06:25] deepakraina99 opened #1301 "ImportError: cannot import name 'TRPO' from 'garage.torch.algos"
Why I am getting this error with TRPO? Though I am able to import DDPG.
ImportError: cannot import name 'TRPO' from 'garage.torch.algos

[2020-04-13 07:11] naeioi commented on #1180
Benchmark results of TensorFlow, PyTorch, and OpenAI baselines.

In all cases except Reacher, garage is better than baselines in terms of the final return value.

Overall, TRPO does not have a performance regression, so I will close this issue. The difference between garage and baselines on Reacher is worth a future inspection. This issue might not be restricted to TRPO, but other algorithms in ge

[2020-04-13 07:11] #1180 closed

[2020-04-13 07:53] C-monC opened #1302 "pixel observation with continuous action space"
Hello,
Is there anyway to attach a CNN on top of one of the algorithms that work with continuous action spaces?

My gym environment has an observation space that is a single channel image and the action space is 3 continuous values.

Is the only option to discretise the action space?

Thanks for reading,
Simon

[2020-04-13 17:42] krzentner commented on #1301
Are you installing garage from latest release or from the git repo's master branch? The pytorch TRPO implementation was added after our last release, so that may be why you can't import it.

[2020-04-13 18:18] deepakraina99 commented on #1301
I am installing using _pip install garage_. Should I install using git repo?

[2020-04-13 18:31] ryanjulian commented on #1301
@deepakraina99 you can install the latest pre-release with `pip install garage==2020.2.0rc2` which should include TRPO on PyTorch.

We are putting finishing touches on 2020.04 and should release it this week. It will - include everything you see in the repo.

[2020-04-13 23:35] ahtsan commented on #1302
Hi Simon! Thank you for your interest in using Garage.

Indeed we are currently working on adding CNN support for one of the algorithms that support continuous action space -- DDPG. Before the patch is done, discretizing the action space would be a good way to do that. @ryanjulian @krzentner Do you have anything to add?

[2020-04-14 03:37] ryanjulian commented on #1180
Thanks for the excellent work @naeioi !

[2020-04-14 03:43] ryanjulian commented on #1302
@C-monC is there a particular algorithm you're interested in using CNNs with? Are you interested in PyTorch or TensorFlow support in particular?

If you are interested in taking this on, it should not be a very large PR. Essentially, you'd need to add ContinuousCNNQFunction (very similar to current Q-functions) and ensure that it works correctly with algorithms supporting continuous action spaces.

[2020-04-14 07:06] C-monC commented on #1302
Hi @ryanjulian and @ahtsan,

Thanks for the quick replies. In the mean time I've found stable baselines to work quite well as they already support CNN policies.

It's for my final year mech engineering project. The plan is to compare several agents like PPO, DDPG and HER on a pybullet gripper environment and then a real gripper. I've only just setup my env and starting training with the stable bas

[2020-04-14 07:06] #1302 closed

[2020-04-15 00:33] ryanjulian opened #1304 "Conda/pipenv verify job is sending false-positives"
e.g. see build history on master or https://travis-ci.com/github/rlworkgroup/garage/builds/160254269

[2020-04-15 05:39] #1304 closed

[2020-04-15 22:59] mdalvi opened #1308 "How to save and load the Tensorflow models/Policy trained with the garage?"
How to save and load the TensorFlow models/Policy trained with the garage?

I could see an example to resume_training [here](https://github.com/rlworkgroup/garage/blob/master/examples/resume_training.py) but I more interested to persist the model itself and later use it outside environment in non-simulation/production settings!

[2020-04-15 23:22] ryanjulian commented on #1308
Hi @mdalvi, thanks for trying out garage!

Models and other data are saved in the experiment directory, typically in `./data/local` where `.` is the working directory you execute your launcher script or example from.

The models are saved `.pkl` files, which should be loadable from the same python environment you ran training in.

See examples which load pre-trained models:
https://github.com/rlwo

[2020-04-15 23:23] ryanjulian commented on #1308
I'm closing this issue for now. Feel free to re-open or open another one later.

[2020-04-15 23:23] #1308 closed

[2020-04-15 23:25] ryanjulian commented on #1301
@deepakraina99 I'm closing this issue for now. Let us know if you have more questions or issues by re-opening or opening a new issue.

[2020-04-15 23:25] #1301 closed

[2020-04-16 22:47] mdalvi opened #1312 "Using a trained policy inside custom environment"
I have a custom environment like 1 vs 1 poker game where I am trying to battle policies.

Is it possible to execute `policy.get_action()` within a `TfEnv`?

My naive initial approach was as follows,

[code]
And here is the main.py that handles this environment
[code]

I get the below error,
[code]

I guess it's not able to handle two policies in one session, any garage example? or trick on how it

[2020-04-16 23:47] ahtsan commented on #1312
Before looking really into the detail, I guess it complains about two policies having the same name. Try to  make the policies having different name?

[2020-04-17 00:07] krzentner commented on #1312
Thanks for taking an interest in Garage! I think Anson's analysis is right. When using TensorFlow, each policy constructs variables under a scope named after its `name` parameter. If you have multiple policy instances in TensorFlow, you need to give each one a unique name when they are constructed.

For example:
[code]

Note that if you need to make two policies the same, you can copy parameters f

[2020-04-17 00:08] krzentner commented on #1312
I'm going to close this issue, because I believe this has addressed your issue, but feel free to re-open if it does not.

[2020-04-17 08:28] HyeongYeolRyu opened #1314 "How to resume training 'Pearl'?"
Hello! I ran a example code: examples/torch/pearl_ml1_push.py and got a log data.
Then I wrote a resume code like this:
[code]

but this doesn't work. The errors are the following:
![image](https://user-images.githubusercontent.com/36123202/79548676-bff0be80-80d0-11ea-8c2e-a655dc8b461d.png)

How can I fix this problem?

[2020-04-17 14:22] mdalvi commented on #1312
@krzentner @ahtsan
Unfortunately changing name does not work!

Also ,
`machine_policy.set_param_values(policy.get_param_values())`
executing above code would need both the policies instantiated. But the error happens during second installation, so not possible!

[2020-04-17 15:44] ahtsan commented on #1312
@mdalvi Can you put a breakpoint right before you instantiate the second policy, and see what `tf.global_variables()` gives you? Does a policy exists with the same name as the second policy?

[2020-04-17 16:18] mdalvi commented on #1312
@ahtsan
Here is the tf.global_variables() output,

`tf.global_variables() [<tf.Variable 'policy/MLPModel/mlp/hidden_0/kernel:0' shape=(17, 32) dtype=float32_ref>, <tf.Variable 'policy/MLPModel/mlp/hidden_0/bias:0' shape=(32,) dtype=float32_ref>, <tf.Variable 'policy/MLPModel/mlp/hidden_1/kernel:0' shape=(32, 32) dtype=float32_ref>, <tf.Variable 'policy/MLPModel/mlp/hidden_1/bias:0' shape=(32,) dty

[2020-04-17 16:21] mdalvi commented on #1312
Also, I am a bit surprised that I cannot reproduce the error with below **modified CartPole TRPO** example,

[code]
**_It works perfectly fine!!!_**

[2020-04-17 16:24] ahtsan commented on #1312
Which line triggers the error?

[2020-04-17 16:24] ahtsan commented on #1312
Which line triggers the error?

[2020-04-17 16:31] mdalvi commented on #1312
As per the traceback,

[Line 83, garage/tf/models/mlp.py](https://github.com/rlworkgroup/garage/blob/master/src/garage/tf/models/mlp.py#L83)

[code]

[2020-04-17 16:41] ahtsan commented on #1312
Ok I see the reason now -- You are loading the policy during environment instantiation, which get called multiple times when environments are copied for parallel sampling. Can you try decoupling the policy with the environment? i.e. the policy should not be owned by the environment.

[2020-04-17 16:45] mdalvi commented on #1312
Give me some time, I need to return a flag from the environment in that case in order to identify the policy to act with!

[2020-04-17 18:05] ryanjulian commented on #1314
@HyeongYeolRyu thanks for trying garage!

@lywong92 @naeioi  can you take a look here?

[2020-04-17 18:18] ryanjulian commented on #1312
@ahtsan alternatively, he could update the pickle implementation of his environment to create a new policy with a different scope. it's less-efficient, but should work.

[2020-04-17 18:20] naeioi commented on #1314
@HyeongYeolRyu Thanks for your report. I checked and found that Pearl does not properly implement resuming. I will make a fix, hopefully by the end of today.

[2020-04-17 18:37] krzentner commented on #1312
Yeah, probably the simplest way of fixing this is to construct a random tensorflow variable scope every time the environment is unpickled. Basically, adding two methods like this to the environment:
[code]

Note the above might not be perfectly correct; it's hard for me to debug without all of the code.
Alternatively, using the `RaySampler` will likely fix this issue, since each env instance will

[2020-04-17 18:46] krzentner commented on #1312
The sampler being used above (`garage.sampler.OnPolicyVectorizedSampler`) constructs multiple environments. As Anson points out, this is what's actually causing the crash, since all of those environments try to construct the same policy in the same variable scope.

I think it's fine for the environment to own the policy (conceptually, it's what you want to do), but if so the environment instances

[2020-04-18 15:16] mdalvi commented on #1312
Thank you, @ahtsan @krzentner
[code]
`BatchSamlpler `comes at rescue,

Here is the implementation code,
[code]

If above, didn't had worked my ultimate through was to generate a `HTTP request` to `localhost` Flask or Tornado server script hosting old_policy with `state` as JSON and return `action` from the same!

@ryanjulian
Yes I will get you a 1vs1 player example, sure. Give me some time on that

[2020-04-20 17:33] #1314 closed

[2020-04-20 19:27] avnishn opened #1322 "Remove Metaworld specific code from MultiEnvWrapper"

[2020-04-20 20:28] ryanjulian opened #1324 "Complete the matrix of torch modules/primitives"
Make names consistent across all primitives, in the process.

| Policies | MLP | LSTM | GRU | CNN |
|--|--|--|--|--|
| Continuous  | :heavy_check_mark: |   |   |   |
| Gaussian    | :heavy_check_mark: |  |  |   |
| Discrete    |  |   |   |   |
| Categorical |  |  |  |  |

| Value Functions | MLP | LSTM | GRU | CNN |
|--|--|--|--|--|
| Continuous  |  |   |   |   |
| Gaussian    | #1317 |   |   |  |

[2020-04-20 20:30] #734 closed

[2020-04-20 20:58] ryanjulian commented on #1259
Note that this also makes pytest fail if you don't have garage[ray] installed, which is bad. Please fix.

[2020-04-21 00:59] avnishn opened #1328 "Pytorch policies on GPU do not work with the MultiprocessingSampler"
It seems that pytorch has some issues when tensors on gpu are processed by different processes.

This causes errors to be thrown if a torch policy on gpu is used by the MultiprocessingSampler.

Here is pytorch's solution:
https://pytorch.org/docs/master/notes/multiprocessing.html

@krzentner any thoughts?

[2020-04-21 01:32] gitanshu opened #1330 "Investigate monkey patching mujoco_py in tests"
ref: https://github.com/rlworkgroup/garage/pull/1323#issuecomment-616809642

[2020-04-21 01:38] avnishn commented on #1328
Upon doing some research, it seems that torch has a direct drop-in replacement for multiprocessing queues that should work for us. I don't see why this would interfere with TF policies because these queues are probably built for any datatypes, but we can investigate further.

[2020-04-21 20:29] sonajeswani opened #1333 "Reproducing MetaWorld Results"
Hello! We are currently working on reproducing the RL2 ML1 PickPlace results shown in Figure 7 of the [MetaWorld paper](https://arxiv.org/pdf/1910.10897.pdf). We are using the hyperparameters given in table E.9.

We are using this garage [RL2 script](https://github.com/rlworkgroup/garage/blob/master/examples/tf/rl2_ppo_ml1.py) that was committed a few weeks ago, but we are not getting the same res

[2020-04-21 21:36] ryanjulian commented on #1333
@ahtsan can help here

[2020-04-22 03:01] naeioi opened #1334 "Generic context conditioned policy for both TensorFlow and Torch"
These algorithms are based on a context conditioned policy: PEARL, MTSAC, MT*PO, TaskEmbedding. A generic policy can help unify the interface. Such a policy should provides an context encoder and a policy class.

[2020-04-22 21:55] ryanjulian commented on #1333
@ahtsan it's not valid to set `random_init=True` on ML1 -- the benchmark specifically specifies `random_init=False` for ML1 ([here](https://github.com/rlworkgroup/metaworld/blob/master/metaworld/benchmarks/ml1.py#L20)). That is, if you set `random_init=True`, you aren't running ML1, and shouldn't report your results at ML1 results.

@sonajeswani I wouldn't focus on the AverageReturn metric, which

[2020-04-22 23:36] krzentner opened #1336 "Move population of replay buffer out of OffPolicyVectorizedSampler"

[2020-04-22 23:37] krzentner opened #1337 "Move all off-policy algorithms to PathBuffer"

[2020-04-22 23:37] krzentner opened #1338 "Implement HER using PathBuffer"

[2020-04-22 23:39] krzentner opened #1339 "Implement a replay buffer backed by a persistent on-disk database"
This would make resuming off-policy algorithms practical.

[2020-04-23 01:21] zequnyu opened #1341 "Refactor log behaviours in garage"
Related PR: #1331.

It is worth considering whether log_performance() should be fully responsible for recording and dumping. In other words, all current log_diagnostics() functions (like the one in LocalRunner) should avoid recording anything. Checking the codebase, I conclude doing so would affect many lines of code and we should discuss if it's a good step to move forward.

[2020-04-24 01:21] sdfzz opened #1345 "Custom environment"
Hi all,

I'm trying to use garage for my RL project. I've installed garage, and I can run examples such as 'trpo_cartpole.py'. However, I'm having difficulties creating my own environment.

It seems that two examples on how to create environment are provided:

1.  garage/docs/user/implement_env.rst
(https://github.com/rlworkgroup/garage/blob/master/docs/user/implement_env.rst)
Here I'm stuck at "f

[2020-04-24 04:07] ryanjulian opened #1346 "Testing RL2 takes too long"
10 of the 36-38 minutes it takes to run the MuJoCo test job are spent testing RL2. This hardly seems necessary to unit-test the algorithm.

Please find a way to test RL2 without spending 10 minutes.

See test log https://travis-ci.com/github/rlworkgroup/garage/jobs/322798959#L1723

[2020-04-24 04:19] avnishn commented on #1345
Hi Steve,

Thanks for using garage! We are in the process of overhauling our examples and docs and plan to have them updated by our June release.

To help you with your problem:
1) create a custom gym environment by using the openai `gym` api.
   this is covered in https://github.com/rlworkgroup/garage/blob/master/examples/jupyter/custom_env.ipynb
under the section `custom gym environment`

2) wra

[2020-04-24 04:59] ahtsan commented on #1346
Can we just not test ML10 on RL2? If so I will remove that.

[2020-04-24 05:21] sdfzz commented on #1345
Avnishn, thank you so much for quick reply

I agree with you that I've missed step 2.

Unfortunately I won't be able to test it right now, but I will give it a try as soon as I can...

Best Regards,

Steve

[2020-04-24 16:31] zhanpenghe commented on #1076
Hey I am wondering if there is any update on this issue? One of my collaborator is encountering similar things using gpu with `BatchSampler`.  I think this is due to the session is not set up.

[2020-04-24 16:34] zhanpenghe commented on #1076
If this is not going to be fixed soon, should I use Ray sampler instead? I have never used it and not sure about how it is comparing to the old sampler while using GPU(s).

[2020-04-24 20:14] ryanjulian commented on #1076
I think @krzentner has been focusing on eliminating `BatchSampler `and other `stateful_pool`-based samplers in favor of the newer sampler interface. Basically, we've been hoping to delete `BatchSampler` before having to fix this bug.

For something close to `BatchSampler`, I think the recently-committed [`MultiprocessingSampler`](https://github.com/rlworkgroup/garage/blob/master/src/garage/sampler

[2020-04-24 20:14] ryanjulian commented on #1076
@krzentner may also have some helpful comments

[2020-04-24 21:56] ryanjulian commented on #1346
I think that's fine, as long as it doesn't drop your coverage. There is a tested example, right?

[2020-04-24 23:23] avnishn commented on #1345
@sdfzz I am going to close this issue for now. Please feel free to reopen if there are any more issues with regards to your original inquiry.

[2020-04-24 23:32] ryanjulian opened #1348 "MAML examples for ML1, ML45"
These are missing from examples/

[2020-04-25 01:56] gagankhandate opened #1349 "RaySampler does not use all workers"
In release 2019.10, [RaySampler](https://github.com/rlworkgroup/garage/blob/release-2019.10/src/garage/sampler/ray_sampler.py) sees only one of the workers as idle for all iterations after the first iteration. This can be seen with [examples/tf/trpo_swimmer_ray_sampler.py](https://github.com/rlworkgroup/garage/blob/release-2019.10/examples/tf/trpo_swimmer_ray_sampler.py).

To me it looks like `sel

[2020-04-25 15:41] krzentner commented on #1349
Hi Gagan,

Thanks for the bug report. We'll definitely look into why it's not using all workers.
Unfortunately, it doesn't look like your explanation why it's happening is quite right.
In particular, workers are still added to `self._idle_worker_ids` [here](https://github.com/rlworkgroup/garage/blob/d6c993526c23c289ebc94635a78186d9bf197f32/src/garage/sampler/ray_sampler.py#L163) (which was a super

[2020-04-25 17:40] gagankhandate commented on #1349
Yes, I did see that `self._process_trajectory()` updates the list of idle workers but this is called only in the while loop which exits after collecting enough samples. At this stage we have some workers for which we have not called _process_trajectory() on their results. These workers don't go back into the idle pool because processing the results is the only place where `self._idle_worker_ids` a

[2020-04-25 19:24] #1346 closed

[2020-04-27 00:13] sdfzz commented on #1345
Hi,

I've tested `garage.envs.GarageEnv`, but I'm still getting `AttributeError: 'NoneType' object has no attribute 'close'` error...

I'm attaching my source code below...can you please check if you can reproduce my error? I'm running the code under Ubuntu 16.04, python 3.5.2 and Tensorflow 1.15.2.

One workaround I've found is to create a custom gym environment and import it. Then, I can use my

[2020-04-27 21:23] ryanjulian commented on #1345
Note that the gym API [requires you implement `close()`](https://github.com/openai/gym/blob/master/gym/core.py#L105) . Because you did not call the super constructor in your custom environment, you didn't inherit the `close()` implementation from `gym.Env`.

Please see the [`gym.Env` API here](https://github.com/openai/gym/blob/master/gym/core.py#L8) and ensure that you implement all parts of the

[2020-04-27 21:23] #1345 closed

[2020-04-27 23:46] maliesa96 opened #1352 "Add GaussianCNNPolicy"
Adds the option to use a CNN policy network for pixel environments with continuous action spaces rather than an MLP.

[2020-04-29 12:51] sereysethy opened #1360 "What is the best way to install garage?"
Hello,

I ran into problems of installation of garage. I tried pip install garage, but I think it is not recommended as the package is not up to date. I also tried to use docker, but docker is not a way to use it to develop applications.

I checked in the closed/opened issues, I saw that there is a new documentation that will be out in June. But in the mean time, my question is what is the best wa

[2020-04-29 16:30] ryanjulian commented on #1360
Hi @sereysethy

Thanks for your interest in garage, and for thoroughly reviewing the issues before making a new one. **I cut a new pre-release (`v2020.04rc1`) for you this morning. It has everything on `master` as of your issue. You should be able to install it using `pip install garage==2020.4.0rc1`.**

Prior to this, you could also install `2020.2.0rc1` and `2020.2.0rc2`. For available releases

[2020-04-29 16:30] #1360 closed

[2020-04-29 19:40] sereysethy commented on #1360
Thank you for your prompt reply.

I would like to report some findings when I did installations on Linux and Mac OS.

I have installed the new version per your advise **`pip install garage==2020.4.0rc1`**, I think it has some problems of dependencies or it has problems with python version on Linux `Python 3.6.9 (default, Apr 18 2020, 01:56:04) [GCC 8.4.0] on linux`.

[code]

I also installed the `

[2020-04-29 19:59] ryanjulian commented on #1360
You can feel free to ignore the dependency errors, as they are harmless. Gym is unnecessarily-strict with some dependencies and this makes it difficult to work with. #1359 will fix the error about torchvision, though this is also harmless.

I would need more info on your Docker setup to help. You can try `make test` on your machine (you need docker-compose installed) running docker to verify the c

[2020-04-29 20:12] sereysethy commented on #1360
Thank you.

I will try to run the example and try to understand it. My idea is to develop my own environment for my work. My primary research is not really focused on RL but rather than applying RL techniques to solve my problem. But to get started I need to understand how garage work, so that I can integrate it to my research work and do some off-line and on-line experimentation.

Another questio

[2020-04-29 21:47] ryanjulian commented on #1360
If you desire is primarily to design and environment and try to optimize that environment with RL, I think you will have a fairly easy  time. Essentially, you only need to ensure your environment complies with the `gym.Env` interface and, in the case of `garage.torch`, wrap your environment with `garage.envs.GarageEnv` before passing it to an algorithm.

garage is typically used by RL researchers

[2020-04-30 14:01] bordeauxred opened #1364 "Unfortunate defaultes in click.command() in pearl_ml10.py, pearl_ml45.py"
Hi there,

the line @click.option('--num_train_tasks', default=50) in the examples  pearl_ml10.py and pearl_ml45.py causes in env_sampler.sample(num_train_tasks) a value error (compare line 196 in task_sampler.py) and should be instead adapted to the number of train tasks.

[2020-04-30 14:15] bordeauxred opened #1365 "HalfCheetahDirEnv meta-evaluation"
Hi there,

I tried to replicate the pearl results from the pearl paper, however for halfcheetah forward/backward (script attached as txt) I got, using the hyper parameters similar to the oyster repo https://github.com/katerakelly/oyster/blob/master/configs/cheetah-dir.json and https://github.com/katerakelly/oyster/blob/master/configs/default.py ) a strange result.
The returns are in absolute value

[2020-04-30 16:29] ryanjulian commented on #1364
hi @bordeauxred

Thanks for the bug report!

@naeioi can you take a look and confirm this bug?

[2020-04-30 16:37] ryanjulian commented on #1365
@bordeauxred thanks for reporting a possible bug! It's user reports like yours which really help us make the software better.

I think we need a little more information from you to help us track it down.

Can you give us a report with the following template?

# Expected Behavior

# Observed Behavior

# Steps to Reproduce
1.
2.
3.

# Possible solutions or things you've tried (and whether they worke

[2020-04-30 16:45] ryanjulian commented on #1364
Verified with `make run-headless RUN_CMD="python examples/torch/pearl_ml10.py"`

@krzentner what is the right fix here?

[2020-04-30 17:10] sereysethy commented on #1345
Hi Ryan,

I tried the code and I added `close()` to my custom env, but it still failed. I think it couldn't do the serialisation by calling `NpWrapper`, not sure why is it needed?

It is possible not to use register the env and pass it directly to `GarageEnv`?

What is the correct order of defining a new custom env?

[code]

Output

[code]

[2020-04-30 17:43] ryanjulian commented on #1345
In order for garage to provide features such as snapshotting and high-performance parallel sampling, we require that all environments and algorithms be pickleable.

All Python objects implement the [pickle protocol](https://docs.python.org/3.5/library/pickle.html#object.__getstate__), but sometimes it's necessary to provide an explicit implementation (via `__getstate__` and `__setstate__`) when an

[2020-04-30 17:44] ryanjulian opened #1366 "Use cloudpickle in old-API samplers"
If we include these in the 2020.04 release, users may still encounter problems such as classes in `__main__` not being pickleable.

We should probably backport this to 2019.10 as well, if it's not too much work.

[2020-04-30 18:01] ryanjulian opened #1367 "Add DeprecationWarnings to run_experiment and old-style samplers"
We should include these in v2020.04 as a courtesy, since we plan on deleting them in all future releases.

[2020-04-30 19:46] bordeauxred commented on #1365
Expected:
I expected to see for halfcheetahdir (using the oyster hyper-parameters  https://github.com/katerakelly/oyster/blob/master/configs/cheetah-dir.json and https://github.com/katerakelly/oyster/blob/master/configs/default.py ))a learning curve as in the paper pearl paper:
![Screenshot from 2020-04-30 20-54-53](https://user-images.githubusercontent.com/28216059/80748237-e547e880-8b24-11ea-9ca

[2020-05-01 15:38] sereysethy commented on #1345
I put them together in a module, it seems to solve the problem, at least it started training.

My next questions (I am not sure should I add a new issue?):
* For a custom environment, do I have to register it with `gym` first then use it later?
* What is the difference between `LocalRunner` and `LocalTFRunner`? Can I run the experimentation without relying on TF or Torch?
* What is the module `abc

[2020-05-01 18:00] ryanjulian commented on #1345
1. No, no need to register your gym environment. As long as your environment implements the interface, it can be used
2. LocalTFRunner is a subclass of LocalRunner which adds some setup needed for TensorFlow. It should be used with TensorFlow-based algorithms, whereas PyTorch and NumPy-based algorithms may use LocalRunner. Their interfaces are identical.
3. `abc` is the abstract base classes modul

[2020-05-01 18:49] sereysethy commented on #1345
Thank you for your reply.

In fact I understand the core concept of RL, but I have never implemented its algorithms. That is why I am looking for libraries that already implement some of those algorithms, which in turn will help me to speed up my work. Thanks for the link by the way.

So what I want to do is to understand how Garage works so that I can integrate it to my research, and eventually c

[2020-05-01 19:39] ryanjulian commented on #1349
@krzentner do you need any more information from @gagankhandate for this issue? Can you help triage (it i.e. is this a bug or not?)

[2020-05-01 20:07] ryanjulian commented on #1345
@sereysethy It's great to hear that you've already covered the core concepts! I apologize that my previous comment may come off as dismissive. I just don't want people getting lost here when there are better learning resources.

In contrast to many other repos of RL algorithms, garage is designed to be imported as a library, so that you can use its components and algorithms without editing the gar

[2020-05-01 20:10] #1259 closed

[2020-05-01 20:10] #1238 closed

[2020-05-01 20:11] #1082 closed

[2020-05-01 20:12] ryanjulian commented on #694
@ahtsan is this done?

[2020-05-01 20:13] #518 closed

[2020-05-01 20:13] #517 closed

[2020-05-01 20:14] ahtsan commented on #694
Not all primitives are covered, e.g. CategoricalMLPRegressor.

[2020-05-01 20:14] #120 closed

[2020-05-01 20:17] ryanjulian commented on #1341
Hmm this would be challenging because there are so many places people will want to log.

I think the root cause here is actually the inflexibility of the dowel API, more than anything. Forcing users to call `logger.dump_all` has turned out to be tricky, since it's not always clear where in the program to put such a call.

There are ways we could design a `dump_all`-less dowel. If we did that, do y

[2020-05-01 20:20] ryanjulian commented on #694
Is that the only one missing?

[2020-05-01 20:22] ahtsan commented on #694
I think so

[2020-05-01 20:23] ahtsan opened #1372 "Refactor CategoricalMLPRegressor to use tfp distribution"

[2020-05-01 20:23] ahtsan commented on #694
I filed a separate issue for CategoricalMLPRegressor.

[2020-05-01 20:23] #694 closed

[2020-05-01 21:34] ryanjulian commented on #1365
@bordeauxred Thanks for the detailed report.

In the MetaTest plot above, what is `num_test_tasks` set to?

[2020-05-01 21:39] sereysethy commented on #1345
Once again thank you for your reply. No worries, I really appreciate what you told me. I came across the resource that you pointed out before but I haven’t had a chance to go through it. I followed the online course of David Silver and R. Sutton’s book. As I said before my primary research is not about RL but I am very much interested in RL. The resource that you told me will give me a push into u

[2020-05-01 21:53] ryanjulian commented on #1345
I think it's a great idea to use garage, as I (and the other maintainers) use it extensively in our own research.

The biggest downside of garage is missing high-level documentation, as you've already found out. The biggest upside is that it's well-tested and makes it easy to experiment with new ideas quickly and by writing just a little code, rather than copy-pasting huge bodies of monolithic alg

[2020-05-01 21:56] ryanjulian commented on #1365
If you want to speed up debugging, you could help us by sending us the experiment directory in question (in data/local) via a file-sharing service, and/or uploading the TensorBoard outputs to https://tensorboard.dev so we can look at them for you.

[2020-05-01 22:08] krzentner commented on #1365
Thanks again for the detailed report.
Looking at the graph, I think your guess that there's something wrong with how the MetaEvaluator and PEARL are coupled together is right. I've found what might be the bug in `PEARL.adapt_policy`, and I'm running an experiment now to verify it.

[2020-05-01 22:55] naeioi commented on #1348
Closed by #1265

[2020-05-01 22:55] #1348 closed

[2020-05-02 15:19] bordeauxred commented on #1365
@krzentner
Thank you, this solves the problem.

[2020-05-02 16:48] RicardoLunaG opened #1375 "HalfCheetahMetaEnv doesn't pickle task correctly"
Hi there,

I'm trainning a GaussianMLPPolicy with PPO using LinearFeatureBaseline as Baseline, in the HalfCheetahVelEnv environment. In the final epoch of trainning I get:

Evaluation/AverageReturn: -45.9052
Evaluation/CompletionRate: 1
Evaluation/Iteration: 1014
Evaluation/MaxReturn: -44.1065
Evaluation/MinReturn : -48.0772
Evaluation/NumTrajs: 12
Evaluation/StdReturn: 1.31797
Extras/EpisodeRewar

[2020-05-02 17:27] krzentner commented on #1375
Hi Ricardo,

The `HalfCheetahVelEnv` is actually a meta-learning environment, where the target velocity is randomly selected. It's quite likely that the target velocity you trained PPO on is different than the target velocity you evaluated it on, which usually results on very low reward. If you want to solve `HalfCheetahVelEnv`, I'd recommend using a meta-learning algorithm such as `garage.tf.algo

[2020-05-03 16:12] sereysethy opened #1376 "Custom environment, design question"
Hello,

I want to design a custom environment, I have two questions:

**Question 1**: my observation is composed of one (or more) discrete value(s) and several real values. What should I use? I think of two possibilities.

1. Use `Box` of `n` dimension, in this case a discrete value can also be represented as a real number.
2. Use `Dict` which consists of one discrete variable and one box variable

[2020-05-03 17:30] krzentner commented on #1376
Hi Sereysethy,

Thanks for taking an interest in garage.
About the first question, the current state of garage makes this complicated. I definitely think a `Dict` space as you describe is the right way to go overall. However, the typical benchmarks we use for testing (mostly `gym`) only use `Box` observations. Because of that, most of garage is not yet tested against `Dict` observations. In partic

[2020-05-04 10:17] RicardoLunaG commented on #1375
Hi krzentner,

Thanks for your answer. If I initialize the environment with {'velocity': 1.} and I use the same for the evaluation, the target velocity would be the same on both task, isn't it? Or does it randomly changes after each reset?

[2020-05-04 11:01] sereysethy commented on #1376
Hi KR,

Thank you for your reply. I will go with `Dict`.

I have another question, I think this might be a silly one. If I use `Box`, I can have an array of `n-dimension`, but I can also use `Dict` of `n-element`, the benefit of using `Dict` is that I can give a name of each of my feature. Which one do you think it is more convenient?

Cheers,
Sethy

[2020-05-04 12:17] RicardoLunaG commented on #1375
Hi,

I think I have found the issue, for some reason even if you specify the task `{velocity : 1.}` in the initialization of the HalfCheetahVelEnv enviroment, the target velocity gets set to 0 when the sampler creates the workers by `envs = [pickle.loads(pickle.dumps(self.env)) for _ in range(n_envs)]`, so the trainning target velocity is always 0.

[2020-05-04 15:01] sereysethy commented on #1376
Another question, when I create a new environment, should I inherit `Gym.env` or `GarageEnv`?

Env has to be normalised? Or it depends on algorithm? I am a bit confused.

[2020-05-04 17:32] ryanjulian commented on #1376
@sereysethy you could use dict of n-elements if you really wanted to (that is akin to turning a list into a dict like `{i: e for i, e in enumerate(list)}`). Most of the time people don't do this in Python because dictionaries are more expensive than lists, but in all honestly it probably doesn't matter. Which is more convenient is up to you, but reiterating what @krzentner said, Dict spaces are no

[2020-05-04 18:24] sereysethy commented on #1376
Hi Ryan,

Thank you for your reply. I still have some more follow-up questions, sorry to ask so many questions.

1. I will got with simple Box but then what to do with my discrete values? The discrete values represent user inputs. So I will just represent it as `np.float32`?
2. At this point, I will not bother with this just yet. I will come back later for this.
3. Can you be more specific for sam

[2020-05-04 18:41] krzentner commented on #1375
That definitely sounds like a bug in `HalfCheetahVelEnv`'s pickling logic. Thanks for finding it. I'll look into fixing it.

[2020-05-04 18:45] ryanjulian commented on #1376
1. Use the `akro.Discrete` or `gym.spaces.Discrete` space for discrete-valued quantities. `Box` spaces are continuously-valued.
3. Unfortunately I think it will just take too many words for me to explain this point right now, but we will note it as a piece of high-level documentation which we need to write. I believe reading the code for some algorithms, the sampler, `LocalRunner` will be enlighte

[2020-05-04 18:46] ryanjulian opened #1377 "MAML nightly tests regularly failing"
See https://travis-ci.com/github/rlworkgroup/garage/jobs/327167607#L1383

[2020-05-04 18:51] #1367 closed

[2020-05-04 19:02] sereysethy commented on #1376
1. As I wrote in the beginning, my observation consists of discrete and continuous values, that is why I wanted to use `Dict`, but then you said `Dict` is not yet well tested with all the algo. So what am I supposed to do?
2. For sampler, I will take a look at it.
3. I will take a look at `garage.torch.policies.DeterministicMLPPolicy`.

Tabular methods will not be useful in my case due to my featu

[2020-05-04 22:33] ryanjulian commented on #1376
1. You can either accept the instability of `Dict` and work to add the features you need for them (alternatively, report issues and wait for us to fix them), or you can cast all of your observations floats, concatenate them, and use a Box space. If you plan on combining your real- and discrete-valued observations in the same function approximator, you will have to cast all of the discrete values i

[2020-05-04 22:55] avnishn opened #1381 "off policy evaluation needs an option to set the number of evaluation samples collected per evaluation trajectory"
Currently, the function `_obtain_evaluation_samples` does not take as a parameter the number of evaluation samples that need to be collected per trajectory. Instead evaluation trajectories are of length `algo.max_path_length`. This is bad because SOTA algorithms don't always use the the algorithm's max path length to determine the number of evaluation samples that need to be collected.

[2020-05-04 23:43] ryanjulian commented on #1381
This is not a bug. It's invalid to train on on max_path_length, then evaluate on a different max_path_length. Those are two different MDPs.

It's also impossible to calculate a true return without a full trajectory (i.e. it either has a terminal or max_path_length), so it's not possible for the API to accept a precise number of time steps to use for evaluation.

[2020-05-05 04:02] #1204 closed

[2020-05-05 04:33] #1322 closed

[2020-05-05 14:43] sereysethy commented on #1376
Thank you. I will go with Box.

[2020-05-05 14:43] #1376 closed

[2020-05-05 17:53] ryanjulian opened #1386 "Add PCGrad to torch and TF"
See https://github.com/tianheyu927/PCGrad

[2020-05-05 17:55] ryanjulian commented on #1377
Also https://travis-ci.com/github/rlworkgroup/garage/jobs/327888348#L1477

[2020-05-05 21:41] #1364 closed

[2020-05-05 22:50] #1375 closed

[2020-05-06 02:16] sonajeswani commented on #1333
Thanks for the information -- I sent you an email! If possible though, it would be great to post the information required to reproduce figure 8 here for anyone else trying to reproduce the results.

[2020-05-06 14:45] yonghyuc opened #1390 "Skip the test_pearl_ml45 due to the out of the memory"
Due to the out of the memory error (return code -9) skip the testcase `test_pearl_ml45` in the `test_example.py`

[2020-05-06 14:45] yonghyuc commented on #1390
![image](https://user-images.githubusercontent.com/43084978/81191210-9effe880-8f6d-11ea-9e0d-4e26811c67f1.png)

[2020-05-06 17:04] #1207 closed

[2020-05-06 17:04] #1208 closed

[2020-05-06 17:44] #1365 closed

[2020-05-06 17:57] ryanjulian commented on #1390
I don't see this problem in the CI, so I'm closing it for now.

[2020-05-06 17:57] #1390 closed

[2020-05-06 18:06] ryanjulian opened #1391 "Remove BatchPolopt"
This is really a bundle of helper functions masquerading as a superclass. It makes the inheritance tree unnecessarily-deep and obscures implementation details of the algorithms which use it.

We should restrict our use of inheritance to the most obvious/terse relationships (e.g. VPG<--PPO), and not use it to group helper functions shared by a set of classes.

It can be replaced by moving its helpe

[2020-05-06 18:08] ryanjulian opened #1392 "Remove OffPolicyRLAlgorithm"
This is really a bundle of helper functions masquerading as a superclass. It makes the inheritance tree unnecessarily-deep and obscures implementation details of the algorithms which use it.

We should restrict our use of inheritance to the most obvious/terse relationships (e.g. DDPG<--TD3), and not use it to group helper functions shared by a set of classes.

It can be replaced by moving its help

[2020-05-06 18:55] #1366 closed